<div class="user-panel">
    <div class="row">
        <div class="col">
            <h2 class="h2">Группа доступа &laquo;{{group.name}}&raquo;</h2>
        </div>
    </div>
    <form [formGroup]="groupFG" (ngSubmit)="save()">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="name">Название</label>
            <div class="col-sm-10">
                <input formControlName="name" id="name" class="form-control" autocomplete="false">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="description">Описание</label>
            <div class="col-sm-10">
                <input formControlName="description" id="description" class="form-control" autocomplete="false">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="roles">Права доступа</label>
            <div class="col-sm-10">
                <ng-select class="form-control"
                           formControlName="roles"
                           [class.focused]="groupsFocused"
                           [items]="dicts[dn.AccessRole]"
                           [bindValue]="'value'"
                           [labelForId]="'roles'"
                           notFoundText=""
                           (change)="accessCheck(groupFG)"
                           (focus)="groupsFocused = true"
                           (blur)="groupsFocused = false"
                           [multiple]="true">
                </ng-select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 offset-sm-10 text-right">
                <button type="submit" class="btn btn-outline-primary" [disabled]="groupFG.invalid">Сохранить  <i class="ml-1 fa fa-save"></i></button>
            </div>
        </div>
    </form>
</div>
