<aisrr-train [status]="order.status" [type]="order.type"></aisrr-train>
<div class="row mt-3">
    <h2 class="col h2">Начальник отдела хранения</h2>
</div>
<div class="row">
    <p class="col order-employee__name ml-4 mb-4">{{order.chiefArchive}}</p>
</div>
<ng-container [ngSwitch]="(editMode$|async)">
    <ng-container *ngSwitchCase="true">
        <div class="row">
            <div class="col-4">
                <div class="form-group row">
                    <label class="col-7 col-form-label text-right text-nowrap" for="permission">Разрешение на выдачу<span
                            class="text-danger">*</span></label>
                    <div class="col-5 pr-0">
                        <ng-select class="form-control"
                                   labelForId="permission" [(ngModel)]="order.permissionIssue"
                                   bindLabel="label" bindValue="value" notFoundText=""
                                   [searchable]="false" [clearable]="false"
                                   [items]="dicts[dn.PermissionIssue]">
                        </ng-select>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group row">
                    <label class="col-4 col-form-label text-right" for="rejectReason">Причина отказа<span
                            *ngIf="order.permissionIssue == denied" class="text-danger">*</span></label>
                    <div class="col-7" [ngSwitch]="order.permissionIssue">
                        <input *ngSwitchCase="denied" class="form-control" id="rejectReason"
                               [(ngModel)]="order.rejectReason">
                        <span *ngSwitchDefault class="form-control disabled">{{order.rejectReason}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group row">
                    <label class="col-7 col-form-label text-right text-nowrap">Дата разрешения / отказа</label>
                    <div class="col-5">
                        <span class="form-control disabled">{{order.permissionDate|date:'dd.MM.yyyy'}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group row">
                    <label class="col-7 col-form-label text-right text-nowrap" for="changeIssueDate">Изменение сроков
                        выдачи</label>
                    <div class="col-5 pr-0">
                        <div class="input-group">
                            <input class="form-control" id="changeIssueDate"
                                   #dp="angular-mydatepicker"
                                   [options]="dops"
                                   angular-mydatepicker
                                   [(ngModel)]="dates.changeIssueDate"
                                   (ngModelChange)="dateChanged($event, 'changeIssueDate')"
                                   [locale]="'ru'">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="button"
                                        (click)="dp.toggleCalendar()" style="padding-left: .55rem; padding-right: .55rem">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group row">
                    <label class="col-4 col-form-label text-right" for="changeIssueReason">Причина</label>
                    <div class="col-7">
                        <input class="form-control" id="changeIssueReason" [(ngModel)]="order.changeIssueReason">
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-4">
                <div class="form-group row align-items-center">
                    <label class="col-7 col-form-label text-right" for="ireadingRoom">
                        Читальный зал выдачи заказа<span *ngIf="order.permissionIssue != denied"
                                                         class="text-danger">*</span>
                    </label>
                    <div class="col-4">
                        <ng-select class="form-control"
                                   labelForId="ireadingRoom" [(ngModel)]="order.issueReadingRoom"
                                   bindLabel="label" bindValue="value" notFoundText=""
                                   (change)="readingRoomChanged($event)"
                                   [clearable]="false"
                                   [items]="rrArchive$|async"></ng-select>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="form-group row align-items-center">
                    <label class="col-3 col-form-label text-right" for="storageNumber">№ хранилища<span
                            *ngIf="order.permissionIssue != denied" class="text-danger">*</span></label>
                    <div class="col-6 pr-0">
                        <ng-select class="form-control"
                                   labelForId="storageNumber" [(ngModel)]="order.storageId"
                                   bindLabel="label" bindValue="value" notFoundText=""
                                   [searchable]="false" [clearable]="false"
                                   [items]="dicts[dn.Storage]">
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
        <div class="row">
            <div class="col-4">
                <div class="form-group row">
                    <label class="col-7 col-form-label text-right">Разрешение на выдачу</label>
                    <div class="col-5">
                        <span class="form-control disabled">{{getLabel(order.permissionIssue, dn.PermissionIssue)|async}}</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group row">
                    <label class="col-4 col-form-label text-right">Причина отказа</label>
                    <div class="col-7">
                        <span class="form-control disabled">{{order.rejectReason}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group row">
                    <label class="col-7 col-form-label text-right text-nowrap">Дата разрешения / отказа</label>
                    <div class="col-5">
                        <span class="form-control disabled">{{order.permissionDate|date:'dd.MM.yyyy'}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group row">
                    <label class="col-7 col-form-label text-right text-nowrap">Изменение сроков выдачи</label>
                    <div class="col-5">
                        <span class="form-control disabled">{{order.changeIssueDate|date:'dd.MM.yyyy'}}</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group row">
                    <label class="col-4 col-form-label text-right">Причина</label>
                    <div class="col-7">
                        <span class="form-control disabled">{{order.changeIssueReason}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-4">
                <div class="form-group row align-items-center">
                    <label class="col-7 col-form-label text-right">Читальный зал выдачи заказа</label>
                    <div class="col-3">
                        <span class="form-control disabled">{{order.issueReadRoom}}</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group row align-items-center">
                    <label class="col-4 col-form-label text-right">№ хранилища</label>
                    <div class="col-8">
                        <span class="form-control disabled">{{getLabel(order.storageId, dn.Storage)|async}}</span>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>
<aisrr-order [order]="order" [expand]="true" [topic]="researchTheme"
             [archive]="getLabel(order.archiveId, dn.Archive)|async"></aisrr-order>
<div class="row">
    <table class="table table-bordered table-striped table-files_order">
        <thead class="table-form">
        <tr>
            <td><p class="user-table__text">№ фонда</p></td>
            <td><p class="user-table__text">№ описи</p></td>
            <td><p class="user-table__text">№ ед. хранения / дела</p></td>
            <td><p class="user-table__text">Заголовок единицы хранения</p></td>
            <td><p class="user-table__text">Кол-во листов</p></td>
            <td><p class="user-table__text">Дело подгото влено</p></td>
            <td><p class="user-table__text">Причина отказа</p></td>
            <td><p class="user-table__text">Выдано в ЧЗ</p></td>
            <td><p class="user-table__text">Списано</p></td>
            <td><p class="user-table__text">Возвращено в архиво хранилище</p></td>
            <td class="actions"></td>
        </tr>
        </thead>
        <tbody class="table-form">
        <tr *ngFor="let d of order.docs; let i = index">
            <td><span>{{d.fundNumber}}</span></td>
            <td><span>{{d.opisNumber}}</span></td>
            <td><span>{{d.unitNumber}}</span></td>
            <td><span>{{d.unitTitle}}</span></td>
            <td><span>{{d.pages}}</span></td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" [checked]="d.prepared" disabled>
                </div>
            </td>
            <td><span>{{getLabel(d.rejectReasonId, dn.RejectReason)|async}}</span></td>
            <td class="date">
                <span *ngIf="d.prepared">{{order.issueRrDate|date:'dd.MM.yyyy'}}</span>
            </td>
            <td class="date"><span *ngIf="d.prepared">{{d.spisanoDate|date:'dd.MM.yyyy'}}</span></td>
            <td class="date"><span *ngIf="d.prepared">{{d.returnDate|date:'dd.MM.yyyy'}}</span></td>
            <td class="actions"></td>
        </tr>
        </tbody>
    </table>
</div>

