<div class="row mt-3">
    <h2 class="h2 col">Поиск по&nbsp;посетителям</h2>
</div>
<div class="row">
    <div class="col-5">
        <div class="form-group row">
            <label class="col-6 col-form-label text-right" for="start">Дата посещения с</label>
            <div class="col-4">
                <div class="input-group">
                    <input class="form-control" id="start"
                           #df="angular-mydatepicker"
                           [options]="dops"
                           angular-mydatepicker
                           [(ngModel)]="dates.from"
                           (ngModelChange)="dateChanged($event, filter, 'fromDate', 'fromDate')"
                           [locale]="'ru'">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button" (click)="df.toggleCalendar()">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group row">
            <label class="col-1 col-form-label text-right" for="end">по</label>
            <div class="col-4">
                <div class="input-group w-80">
                    <input class="form-control" id="end"
                           #dt="angular-mydatepicker"
                           [options]="dops"
                           angular-mydatepicker
                           [(ngModel)]="dates.to"
                           (ngModelChange)="dateChanged($event, filter, 'toDate', 'toDate')"
                           [locale]="'ru'">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button"
                                (click)="dt.toggleCalendar()">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-5">
        <div class="form-group row">
            <label class="col-sm-6 col-form-label text-right" for="lastName">Фамилия</label>
            <div class="col-sm-6">
                <input class="form-control" id="lastName" [(ngModel)]="filter.lname">
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="firstName">Имя</label>
            <div class="col-sm-10">
                <input class="form-control" id="firstName" [(ngModel)]="filter.fname">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="midName">Отчество</label>
            <div class="col-sm-8">
                <input class="form-control" id="midName" [(ngModel)]="filter.mname">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-5">
        <div class="form-group row">
            <label class="col-6 col-form-label text-right" for="onced">Разовое посещение</label>
            <div class="col-4">
                <div class="form-check">
                    <input class="form-check-input" id="onced" type="checkbox" [(ngModel)]="filter.once">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="visitor-search-result" *ngIf="(page$|async)?.pages">
    <div class="row mt-3 mb-2">
        <h3 class="col visitor-search-result__topic">Список посетителей:</h3>
    </div>
    <div class="b-table b-table_mod_border">
        <div class="b-table__wrap b-table__wrap_row_8">
            <table class="b-table__table">
                <thead class="b-table__head">
                <tr class="b-table__row">
                    <td class="b-table__cell">
                        <p class="b-table__text">Дата посещения</p>
                    </td>
                    <td class="b-table__cell">
                        <p class="b-table__text">Фамилия</p>
                    </td>
                    <td class="b-table__cell">
                        <p class="b-table__text">Имя</p>
                    </td>
                    <td class="b-table__cell">
                        <p class="b-table__text">Отчество</p>
                    </td>
                    <td class="b-table__cell">
                        <p class="b-table__text">Отдел хранения</p>
                    </td>
                </tr>
                </thead>
                <tbody class="b-table__body">
                <tr class="b-table__row" *ngFor="let v of (page$|async)?.data"
                    [routerLink]="['/visitors', v.id]">
                    <td class="b-table__cell">
                        <p class="b-table__text b-table__text_align_center">{{v.visitDate|date:'dd.MM.yyyy'}}</p>
                    </td>
                    <td class="b-table__cell">
                        <p class="b-table__text">{{v.lastName}}</p>
                    </td>
                    <td class="b-table__cell">
                        <p class="b-table__text">{{v.firstName}}</p>
                    </td>
                    <td class="b-table__cell">
                        <p class="b-table__text">{{v.middleName}}</p>
                    </td>
                    <td class="b-table__cell">
                        <div class="b-table__text">
                            <ul class="user-search-result__department">
                                <li *ngFor="let a of v.archives">{{a}}</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <aisrr-paginator [page]="page$|async" (next)="load($event)"></aisrr-paginator>
    </div>
</div>
