<aisrr-train [status]="order.status" [type]="order.type"></aisrr-train>
<div class="row mt-3">
    <h2 class="col h2">Хранилище</h2>
</div>
<div class="row align-items-center">
    <div class="col-4">
        <div class="form-group row align-items-center">
            <label class="col-7 col-form-label text-right">Читальный зал выдачи заказа</label>
            <div class="col-3">
                <span class="form-control disabled">{{order.issueReadRoom}}</span>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="form-group row align-items-center">
            <label class="col-3 col-form-label text-right">№ хранилища</label>
            <div class="col-6">
                <span class="form-control disabled">{{getLabel(order.storageId, dn.Storage)|async}}</span>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <h2 class="col h2">Исполнитель</h2>
</div>
<div class="row">
    <p class="col order-employee__name ml-4 mb-4">{{order.executor}}</p>
</div>
<aisrr-order [order]="order" [expand]="true" [topic]="researchTheme"
             [archive]="getLabel(order.archiveId, dn.Archive)|async"></aisrr-order>
<ng-container [ngSwitch]="(editMode$|async)">
    <ng-container *ngSwitchCase="true">
        <div class="row">
            <table class="table table-bordered table-striped table-files_order">
                <thead class="table-form">
                <tr>
                    <td><p class="user-table__text">№ фонда</p></td>
                    <td><p class="user-table__text">№ описи</p></td>
                    <td><p class="user-table__text">№ ед. хранения / дела</p></td>
                    <td><p class="user-table__text">Заголовок единицы хранения</p></td>
                    <td><p class="user-table__text">Кол-во листов<span *ngIf="order.status == st.Onexec"
                                                                       class="text-danger">*</span></p></td>
                    <td><p class="user-table__text">Дело подгото влено</p></td>
                    <td><p class="user-table__text">Причина отказа</p></td>
                    <td><p class="user-table__text">Выдано в ЧЗ</p></td>
                    <td><p class="user-table__text">Списано</p></td>
                    <td><p class="user-table__text">Возвращено в архиво хранилище</p></td>
                    <td class="actions"></td>
                </tr>
                </thead>
                <tbody class="table-form">
                <tr *ngFor="let d of order.docs; let i = index">
                    <td><span>{{d.fundNumber}}</span></td>
                    <td><span>{{d.opisNumber}}</span></td>
                    <td><span>{{d.unitNumber}}</span></td>
                    <td><span>{{d.unitTitle}}</span></td>
                    <ng-container [ngSwitch]="order.status">
                        <ng-container *ngSwitchCase="st.Onexec">
                            <td><input class="form-control" [(ngModel)]="d.pages" mask="0000"></td>
                            <td>
                                <div class="form-check" [ngSwitch]="!d.rejectReasonId">
                                    <input *ngSwitchCase="false" class="form-check-input" type="checkbox"
                                           [checked]="d.prepared" disabled>
                                    <input *ngSwitchDefault class="form-check-input" type="checkbox"
                                           [(ngModel)]="d.prepared">
                                </div>
                            </td>
                            <td [ngSwitch]="d.prepared">
                                <span *ngSwitchCase="true"></span>
                                <ng-select *ngSwitchDefault class="form-control"
                                           [(ngModel)]="d.rejectReasonId"
                                           bindLabel="label" bindValue="value" notFoundText=""
                                           [searchable]="false"
                                           [items]="dicts[dn.RejectReason]">
                                </ng-select>
                            </td>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            <td><span>{{d.pages}}</span></td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" [checked]="d.prepared" disabled>
                                </div>
                            </td>
                            <td><span>{{getLabel(d.rejectReasonId, dn.RejectReason)|async}}</span></td>
                        </ng-container>
                    </ng-container>
                    <ng-container [ngSwitch]="order.status">
                        <ng-container *ngSwitchCase="st.Ready">
                            <td class="date" [attr.rowspan]="order.docs.length" *ngIf="i == 0">
                                <div class="input-group">
                                    <input class="form-control"
                                           #dpr="angular-mydatepicker" id="issueRrDate"
                                           [options]="dops"
                                           angular-mydatepicker
                                           [(ngModel)]="issueRrDate"
                                           (ngModelChange)="dateChanged($event, order, 'issueRrDate', 'issueRrDate')"
                                           [locale]="'ru'">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-primary" type="button"
                                                (click)="dpr.toggleCalendar()">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </ng-container>
                        <td *ngSwitchDefault>
                            <ng-container [ngSwitch]="d.prepared">
                                <span *ngSwitchCase="true">{{order.issueRrDate|date:'dd.MM.yyyy'}}</span>
                                <span *ngSwitchDefault></span>
                            </ng-container>
                        </td>
                    </ng-container>
                    <td class="date"><span>{{d.spisanoDate|date:'dd.MM.yyyy'}}</span></td>
                    <td class="date">
                        <ng-container *ngIf="d.prepared">
                            <ng-container [ngSwitch]="order.status">
                                <div class="input-group" *ngSwitchCase="st.Dump">
                                    <input class="form-control"
                                           #dp="angular-mydatepicker" id="returnDate{{i}}"
                                           [options]="dops"
                                           angular-mydatepicker
                                           [(ngModel)]="dates[i].returnDate"
                                           (ngModelChange)="dateChanged($event, d, 'returnDate', 'returnDate'+i)"
                                           [locale]="'ru'">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-primary" type="button"
                                                (click)="dp.toggleCalendar()">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                                <span *ngSwitchDefault>{{d.returnDate|date:'dd.MM.yyyy'}}</span>
                            </ng-container>
                        </ng-container>
                    </td>
                    <td class="actions">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
        <div class="row">
            <table class="table table-bordered table-striped table-files_order">
                <thead class="table-form">
                <tr>
                    <td><p class="user-table__text">№ фонда</p></td>
                    <td><p class="user-table__text">№ описи</p></td>
                    <td><p class="user-table__text">№ ед. хранения / дела</p></td>
                    <td><p class="user-table__text">Заголовок единицы хранения</p></td>
                    <td><p class="user-table__text">Кол-во листов</p></td>
                    <td><p class="user-table__text">Дело подгото влено</p></td>
                    <td><p class="user-table__text">Причина отказа</p></td>
                    <td><p class="user-table__text">Выдано в ЧЗ</p></td>
                    <td><p class="user-table__text">Списано</p></td>
                    <td><p class="user-table__text">Возвращено в архиво хранилище</p></td>
                    <td class="actions">
                    </td>
                </tr>
                </thead>
                <tbody class="table-form">
                <tr *ngFor="let d of order.docs; let i = index">
                    <td><span>{{d.fundNumber}}</span></td>
                    <td><span>{{d.opisNumber}}</span></td>
                    <td><span>{{d.unitNumber}}</span></td>
                    <td><span>{{d.unitTitle}}</span></td>
                    <td><span>{{d.pages}}</span></td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" [checked]="d.prepared" disabled>
                        </div>
                    </td>
                    <td><span>{{getLabel(d.rejectReasonId, dn.RejectReason)|async}}</span></td>
                    <td class="date">
                        <span *ngIf="d.prepared">{{order.issueRrDate|date:'dd.MM.yyyy'}}</span>
                    </td>
                    <td class="date"><span *ngIf="d.prepared">{{d.spisanoDate|date:'dd.MM.yyyy'}}</span></td>
                    <td class="date"><span *ngIf="d.prepared">{{d.returnDate|date:'dd.MM.yyyy'}}</span></td>
                    <td class="actions"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </ng-container>
</ng-container>

<ng-template #cr let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Результаты проверки</h4>
        <button type="button" class="close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>На {{cresults.date|date:'dd.MM.yyyy'}} на
            пользователя {{order.lastName}} {{order.firstName[0]}}. {{order.middleName[0]}}.
            оформлено {{cresults.files}}
            дел, {{cresults.pages}} листов.</p>
        <table class="table table-secondary table-bordered table-striped">
            <thead>
            <tr>
                <th>№ заказа</th>
                <th>Отдел хранения</th>
                <th>Кол-во дел</th>
                <th>Кол-во листов</th>
                <th>Статус заказа</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let o of cresults.orders">
                <td>{{o.orderNumber}}</td>
                <td>{{o.archive}}</td>
                <td>{{o.files}}</td>
                <td>{{o.pages}}</td>
                <td>{{o.state}}</td>
            </tr>
            </tbody>
        </table>
        <div *ngIf="!cresults.pass" class="alert alert-danger" role="alert">Невозможно выдать заказ!</div>
    </div>
</ng-template>

