<div class="row">
    <div class="content-grid__sidebar">
        <aisrr-sections [id]="id$|async" [sections]="sections"></aisrr-sections>
    </div>
    <div class="content-grid__content">
        <router-outlet></router-outlet>
    </div>
</div>
