<div class="row mt-3">
    <h2 class="h2 col">Заказы</h2>
</div>
<div class="row">
    <h4 *ngIf="address" class="h4 col">{{address}}</h4>
</div>
<div class="row">
    <table class="table table-bordered table-striped table-list_order table-hover">
        <thead class="table-form">
        <tr>
            <th sortable="rr" (sort)="sort($event)" *ngIf="showRR" class="rr">
                <p>ЧЗ</p>
                <ng-select class="form-control form-control-sm" [(ngModel)]="filter.rr"
                           bindLabel="label" bindValue="value"
                           notFoundText=""
                           [clearable]="false"
                           [items]="dicts[dn.ReadingRoom]">
                </ng-select>
            </th>
            <th sortable="onumber" (sort)="sort($event)" class="onumber">
                <p>№ заказа</p>
                <input class="form-control form-control-sm" [(ngModel)]="filter.onumber">
            </th>
            <th sortable="archive" (sort)="sort($event)" class="archive">
                <p>Отдел хранения</p>
                <ng-select class="form-control form-control-sm" [(ngModel)]="filter.archive"
                           bindLabel="label" bindValue="value"
                           notFoundText=""
                           [clearable]="false"
                           [items]="dicts[dn.ArchiveShort]">
                </ng-select>
            </th>
            <th sortable="applicant" (sort)="sort($event)" class="fio">
                <p>ФИО пользователя</p>
                <input class="form-control form-control-sm" [(ngModel)]="filter.applicant">
            </th>
            <th sortable="rdate" (sort)="sort($event)" class="date date-r">
                <p>Дата приема&nbsp;заказа</p>
                <div class="input-group input-group-sm ml-1">
                    <input class="form-control"
                           #rd="angular-mydatepicker"
                           angular-mydatepicker
                           id="rdate"
                           [(ngModel)]="dates.rdate"
                           (ngModelChange)="dateChanged($event, filter, 'rdate')"
                           [options]="dops"
                           [locale]="'ru'">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button"
                                (click)="rd.toggleCalendar()">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </div>
                </div>
            </th>
            <th sortable="edate" (sort)="sort($event)" class="date">
                <p>Дата исполнения</p>
                <div class="input-group input-group-sm ml-1">
                    <input class="form-control"
                           #ed="angular-mydatepicker"
                           angular-mydatepicker
                           id="edate"
                           [(ngModel)]="dates.edate"
                           (ngModelChange)="dateChanged($event, filter, 'edate')"
                           [locale]="'ru'"
                           [options]="dops">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button"
                                (click)="ed.toggleCalendar()">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </div>
                </div>
            </th>
            <th sortable="crdate" (sort)="sort($event)" class="date">
                <p>Контрольная дата возврата</p>
                <div class="input-group input-group-sm ml-1">
                    <input class="form-control form-control-sm"
                           #crd="angular-mydatepicker"
                           angular-mydatepicker
                           id="crdate"
                           [(ngModel)]="dates.crdate"
                           (ngModelChange)="dateChanged($event, filter, 'crdate')"
                           [locale]="'ru'"
                           [options]="dops">
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-outline-primary" type="button"
                                (click)="crd.toggleCalendar()">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </div>
                </div>
            </th>
            <th class="type">
                <p>Вид заказа</p>
                <ng-select [(ngModel)]="filter.type" class="form-control form-control-sm"
                           bindLabel="label" bindValue="value"
                           notFoundText=""
                           [clearable]="false"
                           [items]="dicts[dn.OrderType]">
                </ng-select>
            </th>
            <th>
                <p>Статус заказа</p>
                <ng-select [(ngModel)]="filter.state" class="form-control form-control-sm"
                           bindLabel="label" bindValue="value"
                           notFoundText=""
                           [clearable]="false"
                           [items]="dicts[dn.OrderState]">
                </ng-select>
            </th>
            <th sortable="executor" (sort)="sort($event)" class="executor">
                <p>Исполнитель</p>
                <ng-select [(ngModel)]="filter.executor" class="form-control form-control-sm"
                           bindLabel="label" bindValue="value"
                           notFoundText=""
                           [clearable]="false"
                           [items]="dicts[dn.Executor]">
                </ng-select>
            </th>
        </tr>
        </thead>
        <tbody class="table-form" *ngIf="(page$|async)?.pages">
        <tr *ngFor="let o of (page$|async).data" [routerLink]="['/orders/order', o.id]">
            <td *ngIf="showRR"><p class="text-center">{{o.readRoom}}</p></td>
            <td><p class="text-center">{{o.orderNumber}}</p></td>
            <td><p>{{o.archive}}</p></td>
            <td><p>{{o.applicant}}</p></td>
            <td><p>{{o.regDate|date:'dd.MM.yyyy'}}</p></td>
            <td><p>{{o.execDate|date:'dd.MM.yyyy'}}</p></td>
            <td><p>{{o.returnDate|date:'dd.MM.yyyy'}}</p></td>
            <td><p>{{o.type}}</p></td>
            <td><p>{{o.status}}</p></td>
            <td><p>{{o.executor}}</p></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col text-center">
        <aisrr-paginator [page]="page$|async" (next)="load($event)"></aisrr-paginator>
    </div>
</div>
