.order-booking-client
{
  margin: 20px 0;

  &__topic
  {
    font: normal 22px/1 'Arial';

    margin: 0 0 11px;

    letter-spacing: -.01em;

    color: #255a78;
  }
  &__body
  {
    margin: 0 0 0 19px;
  }
  &__row
  {
    display: flex;
  }
  &__cell
  {
    padding: 20px 0 0;

    vertical-align: middle;

    .order-booking-client__row:first-child &
    {
      padding-top: 0;
    }
    &:nth-child(3)
    {
      padding-left: 22px;
    }
    &:nth-child(4)
    {
      padding-left: 22px;
    }
    &:nth-child(5)
    {
      padding-left: 22px;
    }
  }
}
