.order-checkout
{
  & .user-table__cell
  {
    padding-right: 5px;
    padding-left: 5px;

    &:first-child
    {
      width: 50px;
    }
    &:nth-child(2)
    {
      width: 40px;
    }
    &:nth-child(3)
    {
      width: 80px;
    }
    &:nth-child(4)
    {
      width: 162px;
    }
    &:nth-child(5)
    {
      width: 40px;
    }
    &:nth-child(6)
    {
      width: 67px;
    }
    &:nth-child(7)
    {
      width: 67px;
    }
    &:nth-child(8)
    {
      width: 100px;
    }
    &:nth-child(9)
    {
      width: 100px;
    }
    &:nth-child(10)
    {
      width: 100px;
    }
    &:last-child
    {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  & .user-table__body
  {
    & .user-table__cell
    {
      height: 42px;

      & input
      {
        padding: 0 5px;
      }
      & .b-form__input_mod_calendar
      {
        padding-right: 30px;

        background-size: 20px auto;
      }
    }
  }
}
