.order-employee {
    margin: 21px 0 0;

    &__topic {
        font: normal 22px/1 'Arial';

        margin: 0 0 16px;

        letter-spacing: -.01em;

        color: #255a78;
    }

    &__name {
        font: bold 17px/1 'Arial';
        color: #000;
    }

    &__body {
        margin: 0 0 0 29px;
    }

    &__row {
        display: table-row;
    }

    &__cell {
        display: table-cell;

        padding: 20px 0 0;

        vertical-align: middle;

        .order-employee__row:first-child & {
            padding-top: 0;
        }
    }
}
