.order-booking {
    margin: 32px 0 0 0;

    &__topic {
        font: normal 22px/1 'Arial';

        margin: 0 0 11px;

        letter-spacing: -.01em;

        color: #255a78;
    }

    &__body {
        margin: 0 0 0 20px;
    }

    &__row {
        display: table-row;
    }

    &__cell {
        display: table-cell;

        padding: 20px 0 0;

        vertical-align: middle;

        .order-booking__row:first-child & {
            padding-top: 0;
        }
    }
}

.execution-check {
    .modal-dialog {
        max-width: 80%;
    }
}

.table-files_order {
    &.table-bordered {
        th, td {
            vertical-align: middle;

            &:first-child {
                padding-left: 2px;
                width: 60px;
            }

            &:nth-child(2), &:nth-child(3), &:nth-child(5), &:nth-child(6) {
                width: 55px;
            }

            &:nth-child(7) {
                width: 135px;
            }
        }

        th {
            padding: 0;
        }

        td {
            padding: 4px;
            text-align: center;

            ng-select {
                .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
                    white-space: normal;
                }
            }

            .form-check {
                padding-left: 0;

                .form-check-input {
                    position: static;
                    margin: 0;
                }
            }

            &:nth-child(4) {
                text-align: left;
            }
        }
    }
}

.order-abc {
    width: 18%;
    margin-right: .9rem;
    margin-bottom: 0;
}
