<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="h2">Создание записи</h2>
        </div>
    </div>
    <div class="row">
        <div class="col mb-4">
            <form [formGroup]="record" (ngSubmit)="add()" novalidate>
                <div class="card">
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 col-md-2">
                                    <div class="form-group" [ngClass]="getClass('year')">
                                        <label for="year">Год</label>
                                        <input type="text" class="form-control" id="year"
                                               placeholder="2019"
                                               mask="0000"
                                               formControlName="year"
                                               autocomplete="false">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3 col-lg-2">
                                    <div class="form-group" [ngClass]="getClass('month')">
                                        <label for="month">Месяц</label>
                                        <ng-select class="form-control"
                                                   formControlName="month"
                                                   [searchable]="false"
                                                   [class.focused]="monthFocused"
                                                   [items]="dicts[dn.Month]"
                                                   [bindValue]="'value'"
                                                   [labelForId]="'month'"
                                                   notFoundText=""
                                                   (focus)="monthFocused = true"
                                                   (blur)="monthFocused = false">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md">
                                    <div class="form-group" [ngClass]="getClass('days')">
                                        <label for="days">Нерабочие дни</label>
                                        <input type="text" class="form-control" id="days"
                                               placeholder="1, 2, 10 или 1 2 22 или 1,2,11"
                                               (keydown)="checkDay($event)"
                                               formControlName="days"
                                               autocomplete="false">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group" [ngClass]="getClass('rr')">
                                        <label for="rr">Читальный зал</label>
                                        <ng-select class="form-control"
                                                   formControlName="rr"
                                                   [searchable]="false"
                                                   [class.focused]="rrFocused"
                                                   [items]="dicts[dn.ReadingRoom]"
                                                   [bindValue]="'value'"
                                                   [labelForId]="'rr'"
                                                   notFoundText=""
                                                   (focus)="rrFocused = true"
                                                   (blur)="rrFocused = false"
                                                   [multiple]="true">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-outline-primary" [disabled]="record.invalid">
                            Добавить <i class="ml-1 fa fa-calendar"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="h2">Поиск</h2>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="input-group">
                <input type="text" class="form-control" (keyup.enter)="load()"
                       placeholder="год(число), месяц(текст), день(число), чз(rr1, rr2, rr3)" [(ngModel)]="filter.query">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" (click)="load()">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-striped table-primary table-sm table-holiday" [ngClass]="{'table-hover': !currentId}">
                <thead>
                <tr>
                    <th class="table-holiday__year" sortable="year" (sort)="sort($event)">Год</th>
                    <th class="table-holiday__month" sortable="month" (sort)="sort($event)">Месяц</th>
                    <th class="table-holiday__holiday">Нерабочие дни</th>
                    <th class="table-holiday__rr">Читальный зал</th>
                    <th class="actions">Действия</th>
                </tr>
                </thead>
                <tbody class="table-light">
                <tr *ngFor="let h of (holidays$|async)?.data">
                    <td>{{h.year}}</td>
                    <td>{{h.month}}</td>
                    <td>
                        <ng-container [ngSwitch]="currentId == h.id">
                            <ng-container *ngSwitchCase="true">
                                <input type="text" class="form-control current" [value]="days(h.days)"
                                       placeholder="1, 2, 10 или 1 2 22 или 1,2,11"
                                       (keydown)="checkDay($event)"
                                       (keyup.enter)="save(h)"
                                       (keyup)="disableSave()"
                                       #din>
                            </ng-container>
                            <ng-container *ngSwitchDefault>{{days(h.days)}}</ng-container>
                        </ng-container>
                    </td>
                    <td>
                        <ng-container [ngSwitch]="currentId == h.id">
                            <ng-container *ngSwitchCase="true">
                                <ng-select class="form-control current"
                                           [(ngModel)]="h.rr"
                                           [searchable]="false"
                                           [items]="dicts[dn.ReadingRoom]"
                                           [bindValue]="'value'"
                                           (keyup.enter)="save(h)"
                                           notFoundText=""
                                           [multiple]="true">
                                </ng-select>
                            </ng-container>
                            <ng-container *ngSwitchDefault>{{h.rrStr}}</ng-container>
                        </ng-container>
                    </td>
                    <td class="actions">
                        <div class="btn-group">
                            <ng-container [ngSwitch]="currentId == h.id">
                                <ng-container *ngSwitchCase="true">
                                    <button class="btn btn-outline-primary current" ngbTooltip="Сохранить"
                                            (click)="save(h)" [disabled]="disabledSave">
                                        <i class="fa fa-save"></i>
                                    </button>
                                    <button class="btn btn-outline-danger btn_last current" ngbTooltip="Отменить"
                                            (click)="cancel()">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                    <button class="btn btn-outline-primary" ngbTooltip="Редактировать"
                                            (click)="edit(h)">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button class="btn btn-outline-danger btn_last" (click)="openRemove(rd, h)"
                                            ngbTooltip="Удалить">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </ng-container>
                            </ng-container>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <aisrr-pgntr [page]="holidays$ | async" (changed)="load($event)"></aisrr-pgntr>
</div>

<ng-template #rd let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Удаление записи дат</h4>
        <button type="button" class="close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Вы действительно хотите удалить запись <b>{{holiday.month + ', ' + holiday.year}}</b>?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('no')">Отмена</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('yes')">Да</button>
    </div>
</ng-template>

<div class="spinner-border text-primary" *ngIf="getLoading()"></div>
<div id="overlay" *ngIf="currentId"></div>
