<div class="user-panel">
    <div class="row">
        <div class="col-lg-2 mb-4">
            <ul class="nav flex-lg-column nav-dicts">
                <li routerLinkActive="active" class="nav-item">
                    <a [routerLink]="['/admin/dicts', dn.Archive]" class="nav-link">Архив</a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                    <a [routerLink]="['/admin/dicts', dn.Storage]" class="nav-link">Архивохранилище</a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                    <a [routerLink]="['/admin/dicts', dn.Country]" class="nav-link">Гражданство</a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                    <a [routerLink]="['/admin/dicts', dn.ScienceRank]" class="nav-link">Научное звание</a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                    <a [routerLink]="['/admin/dicts', dn.Education]" class="nav-link">Образование</a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                    <a [routerLink]="['/admin/dicts', dn.RejectReason]" class="nav-link">Причина отказа</a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                    <a [routerLink]="['/admin/dicts', dn.TopicHeading]" class="nav-link">Рубрикатор тем</a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                    <a [routerLink]="['/admin/dicts', dn.RrDetails]" class="nav-link">Читальный зал</a>
                </li>
            </ul>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <h2 class="h2">{{title}}</h2>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <div class="input-group">
                        <input type="text" class="form-control" (keyup.enter)="load()"
                               [placeholder]="storage ? 'название, архив(1,2,3,4,6,7), чз(rr1,rr2,rr3)' : rr ? 'адрес' : 'название'"
                               [(ngModel)]="filter.query">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="button" (click)="load()">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-striped table-primary table-sm table-dicts"
                           [ngClass]="{'table-hover': !(currentId || created.length)}">
                        <thead>
                        <tr>
                            <th sortable="id" (sort)="sort($event)" class="table-dicts__id">id</th>
                            <th sortable="name" (sort)="sort($event)" class="table-dicts__name">Название</th>
                            <ng-container *ngIf="rr">
                                <th sortable="address" (sort)="sort($event)" class="table-dicts__address">Адрес</th>
                                <th sortable="role" (sort)="sort($event)" class="table-dicts__role">Роль</th>
                            </ng-container>
                            <ng-container *ngIf="storage">
                                <th sortable="archive" (sort)="sort($event)" class="table-dicts__address">Архив</th>
                                <th sortable="rr" (sort)="sort($event)">Читальный зал</th>
                            </ng-container>
                            <th *ngIf="short" sortable="short" (sort)="sort($event)" class="table-dicts__short">
                                Сокращенное название
                            </th>
                            <th class="table-dicts__acts actions">
                                <button class="btn btn-outline-primary"
                                        *ngIf="!rr"
                                        (click)="add()" ngbTooltip="Добавить">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="table-light">
                        <tr *ngFor="let d of created">
                            <td class="text-center"></td>
                            <td><input class="form-control current" [(ngModel)]="d.name" (keyup.enter)="save(d)"></td>
                            <ng-container *ngIf="storage">
                                <ng-container *ngTemplateOutlet="sf;context:{dict: d}"></ng-container>
                            </ng-container>
                            <td *ngIf="short">
                                <input class="form-control current" [(ngModel)]="d.shortName" (keyup.enter)="save(d)">
                            </td>
                            <ng-container *ngTemplateOutlet="ea;context:{dict: d}"></ng-container>
                        </tr>
                        <tr *ngFor="let d of (page$|async)?.data">
                            <td class="text-center">{{d.id}}</td>
                            <td>
                                <ng-container [ngSwitch]="currentId == d.id && !rr">
                                    <ng-container *ngSwitchCase="true">
                                        <input class="form-control current" [(ngModel)]="d.name"
                                               (keyup.enter)="save(d)">
                                    </ng-container>
                                    <ng-container *ngSwitchDefault>{{rr ? d.rrStr : d.name}}</ng-container>
                                </ng-container>
                            </td>
                            <ng-container *ngIf="rr">
                                <td>
                                    <ng-container [ngSwitch]="currentId == d.id">
                                        <ng-container *ngSwitchCase="true">
                                            <input class="form-control current" [(ngModel)]="d.name"
                                                   (keyup.enter)="save(d)">
                                        </ng-container>
                                        <ng-container *ngSwitchDefault>{{d.name}}</ng-container>
                                    </ng-container>
                                </td>
                                <td>{{d.roleStr}}</td>
                            </ng-container>
                            <ng-container *ngIf="storage">
                                <ng-container [ngSwitch]="currentId == d.id">
                                    <ng-container *ngSwitchCase="true">
                                        <ng-container *ngTemplateOutlet="sf;context:{dict: d}"></ng-container>
                                    </ng-container>
                                    <ng-container *ngSwitchDefault>
                                        <td>{{d.archive}}</td>
                                        <td>{{d.rrStr}}</td>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                            <td *ngIf="short">
                                <ng-container [ngSwitch]="currentId == d.id">
                                    <ng-container *ngSwitchCase="true">
                                        <input class="form-control current" [(ngModel)]="d.shortName"
                                               (keyup.enter)="save(d)">
                                    </ng-container>
                                    <ng-container *ngSwitchDefault>{{d.shortName}}</ng-container>
                                </ng-container>
                            </td>
                            <ng-container *ngTemplateOutlet="ea;context:{dict: d}"></ng-container>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <aisrr-pgntr [page]="page$ | async" (changed)="load($event)"></aisrr-pgntr>
        </div>
    </div>
</div>

<div class="spinner-border text-primary" *ngIf="getLoading()"></div>
<div id="overlay" *ngIf="currentId || created.length"></div>

<ng-template #rd let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Удаление значения справочника</h4>
        <button type="button" class="close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Вы действительно хотите удалить значение <b>{{dict.name}}</b>?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('no')">Отмена</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('yes')">Да</button>
    </div>
</ng-template>

<ng-template #ea let-dict="dict">
    <td class="actions">
        <div class="btn-group">
            <ng-container [ngSwitch]="currentId == dict.id || (!dict.id && created.length)">
                <ng-container *ngSwitchCase="true">
                    <button class="btn btn-outline-primary current" ngbTooltip="Сохранить"
                            (click)="save(dict)">
                        <i class="fa fa-save"></i>
                    </button>
                    <button class="btn btn-outline-danger btn_last current" ngbTooltip="Отменить"
                            (click)="cancel()">
                        <i class="fa fa-times"></i>
                    </button>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <button class="btn btn-outline-primary" ngbTooltip="Редактировать"
                            (click)="edit(dict)">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-outline-danger btn_last" (click)="openRemove(rd, dict)"
                            ngbTooltip="Удалить"
                            [disableTooltip]="disableRemove(dict)"
                            [disabled]="disableRemove(dict)">
                        <i class="fa fa-trash"></i>
                    </button>
                </ng-container>
            </ng-container>
        </div>
    </td>
</ng-template>
<ng-template #sf let-dict="dict">
    <td>
        <ng-select class="form-control current" [(ngModel)]="dict.archiveId"
                   bindLabel="label" bindValue="value"
                   notFoundText=""
                   (keyup.enter)="save(dict)"
                   [items]="dicts[dn.ArchiveShort]"></ng-select>
    </td>
    <td>
        <ng-select class="form-control current" [(ngModel)]="dict.rr"
                   bindLabel="label" bindValue="value"
                   notFoundText=""
                   (keyup.enter)="save(dict)"
                   [items]="dicts[dn.ReadingRoom]"></ng-select>
    </td>
</ng-template>
