.sidebar {
    box-sizing: border-box;
    height: 100%;
    padding: 24px 6px;
    $border: 1px solid #c4c4c4;

    &-menu {
        margin: 0;

        &__label {
            display: inline-block;
            width: 100%;
            font-size: 16px;
            font-weight: 400;
            color: $primary;
            text-align: center;
        }

        &__nav {
            border: $border;
            background: $white;
            border-radius: $border-radius;

            .nav-item {
                text-align: center;

                .nav-span {
                    display: inline-block;
                    width: 100%;
                    padding: .5rem 6px;
                    color: $gray-600;
                    background: $gray-100;
                    cursor: default;
                }

                &:first-child {
                    .nav-span {
                        border-radius: $border-radius $border-radius 0 0;
                    }
                }

                &:last-child {
                    .nav-span {
                        border-radius: 0 0 $border-radius $border-radius;
                    }
                }

                .nav-link {
                    color: $black;
                    padding-left: 6px;
                    padding-right: 6px;

                    &:hover, &.active {
                        background: #cda9aa;
                    }
                }

                & + .nav-item {
                    border-top: $border;
                }
            }
        }
    }
}
