<ng-container [ngSwitch]="editMode$|async">
    <ng-container *ngSwitchCase="true">
        <div class="row mt-3">
            <h2 class="h2 col">Посетитель</h2>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="form-group row">
                    <label class="col-6 col-form-label text-right text-nowrap" for="visitDate">Дата посещения<span
                            class="text-danger">*</span></label>
                    <div class="col-5">
                        <div class="input-group w-80">
                            <input class="form-control" id="visitDate"
                                   #vddp="angular-mydatepicker"
                                   #vd
                                   angular-mydatepicker
                                   [(ngModel)]="dates.visitDate"
                                   (ngModelChange)="dateChanged($event)"
                                   [options]="dops"
                                   [locale]="'ru'">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="button"
                                        (click)="vddp.toggleCalendar()">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="form-group row">
                    <label class="col-4 col-form-label text-right" for="readingRoom">Читальный зал</label>
                    <div class="col-3">
                        <ng-select class="form-control"
                                   labelForId="readingRoom" [(ngModel)]="data.rr"
                                   bindLabel="label" bindValue="value" notFoundText=""
                                   (change)="readingRoomChanged($event)"
                                   [items]="dicts[dn.ReadingRoom]"></ng-select>
                    </div>
                </div>
            </div>
        </div>
        <ng-container [ngSwitch]="data.once">
            <div class="row" *ngSwitchCase="true">
                <div class="col-5">
                    <div class="form-group row">
                        <label class="col-6 col-form-label text-right" for="lastName">Фамилия<span
                                class="text-danger">*</span></label>
                        <div class="col-6">
                            <input class="form-control" id="lastName" [(ngModel)]="data.lastName">
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group row">
                        <label class="col-5 col-form-label text-right" for="firstName">Имя<span
                                class="text-danger">*</span></label>
                        <div class="col-6">
                            <input class="form-control" id="firstName" [(ngModel)]="data.firstName">
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-5 col-form-label text-right" for="middleName">Отчество<span
                                class="text-danger">*</span></label>
                        <div class="col-6">
                            <input class="form-control" id="middleName" [(ngModel)]="data.middleName">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngSwitchDefault>
                <div class="col-10">
                    <div class="form-group row">
                        <label class="col-3 col-form-label text-right" for="user">Пользователь<span
                                class="text-danger">*</span></label>
                        <div class="col-6">
                            <ng-select class="form-control" labelForId="user"
                                       [typeahead]="usersInput$"
                                       [(ngModel)]="data.profileId"
                                       (change)="setFio($event)"
                                       bindLabel="label" bindValue="value"
                                       notFoundText=""
                                       typeToSearchText="Начните печатать"
                                       [items]="users$|async"></ng-select>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <div class="row">
            <div class="col-10">
                <div class="form-group row">
                    <label class="col-3 col-form-label text-right" for="archive">Отдел хранения<span
                            class="text-danger">*</span></label>
                    <div class="col-8 pr-0">
                        <ng-select class="form-control"
                                   labelForId="archive" [(ngModel)]="data.archives"
                                   [items]="data.rr ? (archivesOfRr$|async) : dicts[dn.Archive]"
                                   bindLabel="label" bindValue="value" notFoundText=""
                                   [multiple]="true">
                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                                <span class="ng-value-icon" (click)="clear(item)"
                                                      aria-hidden="true">×</span>
                                    <span class="ng-value-label">{{item.label}}</span>
                                </div>
                                <div class="ng-value" *ngIf="items.length > 1">
                                    <span class="ng-value-label">{{items.length - 1}} ещё...</span>
                                </div>
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="form-group row">
                    <label class="col-6 col-form-label text-right" for="onced">Разовое посещение</label>
                    <div class="col-4">
                        <div class="form-check">
                            <input class="form-check-input" id="onced" type="checkbox" [(ngModel)]="data.once">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ng-container *ngIf="data.once">
            <div class="row">
                <div class="col-10">
                    <div class="form-group row">
                        <label class="col-3 col-form-label text-right" for="document">Документ-основание</label>
                        <div class="col-8">
                            <input class="form-control" id="document" [(ngModel)]="data.docCause">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <div class="form-group row">
                        <label class="col-3 col-form-label text-right" for="target">Цель исследования</label>
                        <div class="col-8">
                            <input class="form-control" id="target" [(ngModel)]="data.target">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <div class="form-group row">
                        <label class="col-3 col-form-label text-right" for="usedDocs">Используемые документы</label>
                        <div class="col-8">
                            <textarea class="form-control" id="usedDocs" [(ngModel)]="data.usedDocs"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <div class="form-group row">
                        <label class="col-3 col-form-label text-right" for="remark">Примечание</label>
                        <div class="col-8">
                            <textarea class="form-control" id="remark" [(ngModel)]="data.remark"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>

    <ng-container *ngSwitchDefault>
        <div class="row mt-3">
            <h2 class="h2 col">Посетитель</h2>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="form-group row">
                    <label class="col-6 col-form-label text-right">Дата посещения</label>
                    <div class="col-3">
                        <span class="form-control disabled">{{data.visitDate|date:'dd.MM.yyyy'}}</span>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="form-group row">
                    <label class="col-4 col-form-label text-right">Читальный зал</label>
                    <div class="col-2">
                        <span class="form-control disabled">{{getLabel(data.rr, dn.ReadingRoom)|async}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="form-group row">
                    <label class="col-6 col-form-label text-right">Фамилия</label>
                    <div class="col-6">
                        <span class="form-control disabled">{{data.lastName}}</span>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group row">
                    <label class="col-5 col-form-label text-right">Имя</label>
                    <div class="col-6">
                        <span class="form-control disabled">{{data.firstName}}</span>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group row">
                    <label class="col-5 col-form-label text-right">Отчество</label>
                    <div class="col-6">
                        <span class="form-control disabled">{{data.middleName}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <div class="form-group row">
                    <label class="col-3 col-form-label text-right">Отдел хранения</label>
                    <div class="col-8">
                        <span class="form-control disabled form-textarea"
                              [innerHTML]="getLabel(data.archives, dn.Archive)|async"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="form-group row">
                    <label class="col-6 col-form-label text-right">Разовое посещение</label>
                    <div class="col-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" [checked]="data.once" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-container *ngIf="data.once">
            <div class="row">
                <div class="col-10">
                    <div class="form-group row">
                        <label class="col-3 col-form-label text-right">Документ-основание</label>
                        <div class="col-8">
                            <span class="form-control disabled">{{data.docCause}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <div class="form-group row">
                        <label class="col-3 col-form-label text-right" for="target">Цель исследования</label>
                        <div class="col-8">
                            <span class="form-control disabled">{{data.target}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <div class="form-group row">
                        <label class="col-3 col-form-label text-right">Используемые документы</label>
                        <div class="col-8">
                            <span class="form-control disabled form-textarea"
                                  [innerHTML]="textArea(data.usedDocs)"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <div class="form-group row">
                        <label class="col-3 col-form-label text-right">Примечание</label>
                        <div class="col-8">
                            <span class="form-control disabled form-textarea"
                                  [innerHTML]="textArea(data.remark)"></span>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</ng-container>

