<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="h2">Создание пользователя</h2>
        </div>
    </div>
    <div class="row">
        <div class="col mb-4">
            <form [formGroup]="newUser" (ngSubmit)="add()" novalidate>
                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <div class="col">
                                <div class="form-group" [ngClass]="getClass(newUser, 'login')">
                                    <label for="login">
                                        Логин <span
                                            *ngIf="newUser.controls.login.invalid && newUser.controls.login.value">(уже существует)</span>
                                    </label>
                                    <input type="text" class="form-control" id="login"
                                           placeholder="ivano_i_i"
                                           formControlName="login"
                                           autocomplete="false">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group" [ngClass]="getClass(newUser, 'lastName')">
                                    <label for="lastName">Фамилия</label>
                                    <input type="text" class="form-control" id="lastName"
                                           placeholder="Иванов"
                                           formControlName="lastName"
                                           autocomplete="false">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group" [ngClass]="getClass(newUser, 'firstName')">
                                    <label for="firstName">Имя</label>
                                    <input type="text" class="form-control" id="firstName"
                                           placeholder="Иван"
                                           formControlName="firstName"
                                           autocomplete="false">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group" [ngClass]="getClass(newUser, 'middleName')">
                                    <label for="middleName">Отчество</label>
                                    <input type="text" class="form-control" id="middleName"
                                           placeholder="Иванович"
                                           formControlName="middleName"
                                           autocomplete="false">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group"
                                     [ngClass]="getClass(newUser.controls.ps, 'password')">
                                    <label for="password">Пароль</label>
                                    <input id="password" type="password" class="form-control"
                                           [formControl]="newUser.controls.ps['controls'].password"
                                           autocomplete="new-password">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group"
                                     [ngClass]="getClass(newUser.controls.ps, 'rePassword')">
                                    <label for="password2">
                                        Пароль
                                        <ng-container
                                                [ngSwitch]="newUser.controls.ps['controls'].rePassword.value && newUser.controls.ps['controls'].rePassword.invalid">
                                            <span *ngSwitchCase="true"> не совпадает</span>
                                            <span *ngSwitchDefault>, еще раз</span>
                                        </ng-container>
                                    </label>
                                    <input id="password2" type="password" class="form-control"
                                           [formControl]="newUser.controls.ps['controls'].rePassword"
                                           autocomplete="new-password">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group" [ngClass]="getClass(newUser, 'groups')">
                                    <label for="groups">
                                        Группы
                                        <ng-container
                                                *ngIf="newUser.controls['groups'].errors && newUser.controls['groups'].errors['groups'] === 'many'">
                                            (роль СЧЗ должна быть единственной)
                                        </ng-container>
                                    </label>
                                    <ng-select class="form-control"
                                               formControlName="groups"
                                               [class.focused]="groupsFocused"
                                               [items]="dicts[dn.AccessGroup]"
                                               [bindValue]="'value'"
                                               [labelForId]="'groups'"
                                               notFoundText=""
                                               (change)="groupChanged()"
                                               (focus)="groupsFocused = true"
                                               (blur)="groupsFocused = false"
                                               [multiple]="true">
                                        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                            <div class="ng-value" *ngFor="let item of items | slice:0:2">
                                                <span class="ng-value-icon" (click)="clear(item)"
                                                      aria-hidden="true">×</span>
                                                <span class="ng-value-label">{{item.label}}</span>
                                            </div>
                                            <div class="ng-value" *ngIf="items.length > 2">
                                                <span class="ng-value-label">{{items.length - 2}} ещё...</span>
                                            </div>
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group" [ngClass]="getClass(newUser, 'archiveId')">
                                    <label for="archive">
                                        Отдел хранения (обязателен для начальника отдела хранения)
                                    </label>
                                    <ng-select class="form-control"
                                               formControlName="archiveId"
                                               [searchable]="false"
                                               [class.focused]="archiveFocused"
                                               [items]="dicts[dn.Archive]"
                                               [bindValue]="'value'"
                                               [labelForId]="'archive'"
                                               notFoundText=""
                                               (change)="arReq(newUser)"
                                               (focus)="archiveFocused = true"
                                               (blur)="archiveFocused = false">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" [ngClass]="getClass(newUser, 'storageId')">
                                    <label for="storage">
                                        Архивохранилище (обязательно для исполнителя)
                                    </label>
                                    <ng-select class="form-control"
                                               formControlName="storageId"
                                               [class.focused]="storageFocused"
                                               [items]="dicts[dn.Storage]"
                                               [bindValue]="'value'"
                                               [labelForId]="'storage'"
                                               notFoundText=""
                                               (change)="stReq(newUser)"
                                               (focus)="storageFocused = true"
                                               (blur)="storageFocused = false">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-outline-primary" [disabled]="newUser.invalid">
                            Добавить <i class="ml-1 fa fa-user"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="h2">Поиск</h2>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="input-group">
                <input type="text" class="form-control" (keyup.enter)="load()"
                       placeholder="Id, имя, фамилия, отчество, логин" [(ngModel)]="filter.query">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" (click)="load()">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped table-hover table-primary table-sm">
                <thead>
                <tr>
                    <th sortable="lastName" (sort)="sort($event)" style="width: 120px;">Фамилия</th>
                    <th sortable="firstName" (sort)="sort($event)" style="width: 120px;">Имя</th>
                    <th sortable="middleName" (sort)="sort($event)" style="width: 120px;">Отчество</th>
                    <th sortable="login" (sort)="sort($event)">Логин</th>
                    <th style="width: 290px;">Группы доступа</th>
                    <th class="actions">Действия</th>
                </tr>
                </thead>
                <tbody class="table-light">
                <tr *ngFor="let u of (users$|async)?.data">
                    <td style="width: 120px;">{{u.lastName}}</td>
                    <td style="width: 120px;">{{u.firstName}}</td>
                    <td style="width: 120px;">{{u.middleName}}</td>
                    <td>{{u.login}}</td>
                    <td style="width: 290px;">
                        <ul class="list-unstyled mt-0 mb-0">
                            <li *ngFor="let g of u.groups">{{g}}</li>
                        </ul>
                    </td>
                    <td class="actions">
                        <div class="btn-group">
                            <a [routerLink]="['/admin/users', u.id]" class="btn btn-outline-primary"
                               ngbTooltip="Редактировать">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <button class="btn btn-outline-primary" (click)="openChangePassword(cp, u)"
                                    ngbTooltip="Сменить пароль">
                                <i class="fa fa-key"></i>
                            </button>
                            <button class="btn btn-outline-danger btn_last" (click)="openRemove(rd, u)"
                                    ngbTooltip="Удалить">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <aisrr-pgntr [page]="users$ | async" (changed)="load($event)"></aisrr-pgntr>
</div>

<ng-template #rd let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Удаление пользователя</h4>
        <button type="button" class="close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Вы действительно хотите удалить пользователя <b>{{user.login}}</b> ({{user.lastName}}
            {{user.firstName}} {{user.middleName}})?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('no')">Отмена</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('yes')">Да</button>
    </div>
</ng-template>

<ng-template #cp let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Смена пароля для <b>{{user.login}}</b></h4>
        <button type="button" class="close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="newPass" novalidate>
            <div class="form-group" [ngClass]="getClass(newPass, 'passwd')">
                <label for="passwd">Пароль</label>
                <input id="passwd" class="form-control"
                       formControlName="passwd"
                       autocomplete="new-password"
                       type="password">
            </div>
            <div class="form-group" [ngClass]="getClass(newPass, 'passwd2')">
                <label for="passwd2">Пароль, повтор</label>
                <input id="passwd2" class="form-control"
                       formControlName="passwd2"
                       autocomplete="new-password"
                       type="password">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('no')">Отмена</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('yes')" [disabled]="newPass.invalid">
            Да
        </button>
    </div>
</ng-template>

<div class="spinner-border text-primary" *ngIf="getLoading()">
</div>

