<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="h2">Создание группы</h2>
        </div>
    </div>
    <div class="row">
        <div class="col mb-4">
            <form [formGroup]="newGroup" (ngSubmit)="add()" novalidate>
                <div class="card">
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group" [ngClass]="getClass('name')">
                                        <label for="name">Название</label>
                                        <input type="text" class="form-control" id="name"
                                               placeholder="Название группы доступа"
                                               formControlName="name"
                                               autocomplete="false">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="description">Описание</label>
                                        <input type="text" class="form-control" id="description"
                                               placeholder="Назначение группы доступа"
                                               formControlName="description"
                                               autocomplete="false">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group" [ngClass]="getClass('roles')">
                                        <label for="roles">
                                            Права
                                            <ng-container
                                                    [ngSwitch]="newGroup.controls['roles'].errors && newGroup.controls['roles'].errors['roles']">
                                                <span *ngSwitchCase="'exists'"> (группа с такой ролью существует)</span>
                                                <span *ngSwitchCase="'only'"> (группа с ролью СЧЗ должна иметь только эту роль)</span>
                                            </ng-container>
                                        </label>
                                        <ng-select class="form-control"
                                                   formControlName="roles"
                                                   [class.focused]="groupsFocused"
                                                   [items]="dicts[dn.AccessRole]"
                                                   [bindValue]="'value'"
                                                   [labelForId]="'roles'"
                                                   notFoundText=""
                                                   (change)="accessCheck(newGroup)"
                                                   (focus)="groupsFocused = true"
                                                   (blur)="groupsFocused = false"
                                                   [multiple]="true">
                                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                                <div class="ng-value" *ngFor="let item of items | slice:0:5">
                                                <span class="ng-value-icon" (click)="clear(item)"
                                                      aria-hidden="true">×</span>
                                                    <span class="ng-value-label">{{item.label}}</span>
                                                </div>
                                                <div class="ng-value" *ngIf="items.length > 5">
                                                    <span class="ng-value-label">{{items.length - 5}} ещё...</span>
                                                </div>
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-outline-primary" [disabled]="newGroup.invalid">
                            Добавить <i class="ml-1 fa fa-group"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="h2">Поиск</h2>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="input-group">
                <input type="text" class="form-control" (keyup.enter)="load()"
                       placeholder="Id, название, описание" [(ngModel)]="filter.query">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" (click)="load()">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-striped table-hover table-primary table-sm">
                <thead>
                <tr>
                    <th style="width: 227px;" sortable="name" (sort)="sort($event)">Название</th>
                    <th style="width: 400px;" sortable="description" (sort)="sort($event)">Описание</th>
                    <th>Права доступа</th>
                    <th class="actions">Действия</th>
                </tr>
                </thead>
                <tbody class="table-light">
                <tr *ngFor="let g of (groups$|async)?.data">
                    <td style="width: 227px;">{{g.name}}</td>
                    <td style="width: 400px;">{{g.description}}</td>
                    <td>
                        <ul class="list-unstyled mt-0 mb-0">
                            <li *ngFor="let r of g.roles">{{r}}</li>
                        </ul>
                    </td>
                    <td class="actions">
                        <div class="btn-group">
                            <a [routerLink]="['/admin/groups', g.id]" class="btn btn-outline-primary"
                               ngbTooltip="Редактировать">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <button class="btn btn-outline-danger btn_last" (click)="openRemove(rd, g)"
                                    ngbTooltip="Удалить">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <aisrr-pgntr [page]="groups$ | async" (changed)="load($event)"></aisrr-pgntr>
</div>

<ng-template #rd let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Удаление группы</h4>
        <button type="button" class="close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Вы действительно хотите удалить группу <b>{{group.name}}</b>?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('no')">Отмена</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('yes')">Да</button>
    </div>
</ng-template>

<div class="spinner-border text-primary" *ngIf="getLoading()">
</div>

