.btn-group {
    > .btn {

        &:not(:last-child) {
            border-right: none;
        }

        &_last {
            border-top-right-radius: $border-radius !important;
            border-bottom-right-radius: $border-radius !important;
            border-right: {
                width: 1px !important;
                style: solid !important;
                color: $danger !important;
            };
        }

        &.current {
            position: relative;
            z-index: 1022;

            &:hover {
                z-index: 1022;
            }

            &:not(:hover) {
                background-color: #fff7;
            }

            &.btn-outline-primary {
                &:not(:hover) {
                    color: blue;
                    border-color: blue;
                }
            }
        }
    }
}

button {
    &.close {
        &:focus {
            outline: none;
        }
    }
}

.btn-secondary {
    color: $white;
    @include hover {
        color: $gray-400;
        @include gradient-bg(darken($secondary, 7.5%));
        border-color: darken($secondary, 10%);
    }

    &:disabled {
        color: $gray-400;
        background-color: darken($secondary, 8%);
    }
}

input[type=checkbox] {
    &:focus, &:active {
        outline: none;
    }
}
