%headers {
    font-style: normal;
    line-height: 100%;
    color: $primary;
}

.h2 {
    @extend %headers;
    margin-bottom: 22px;
    font-size: 22px;

    &_ot {
        color: #16394c;
    }
}

.h3 {
    @extend %headers;
    margin-bottom: 18px;
    font-size: 18px;
}

.h4 {
    @extend %headers;
    margin-bottom: 14px;
    font-size: 16px;
}
