.b-table {
    &_mod {
        &_border {
            overflow: hidden;

            border: 1px solid #c4c4c4;
            border-radius: 2px;
        }
    }

    &__wrap {
        overflow-x: hidden;
        overflow-y: auto;

        &_row {
            &_8 {
                max-height: 319px;
            }
        }
    }

    &__topic {
        font: normal 14px/1.3 'Arial';

        margin: 0 0 7px;

        color: #595c91;
    }

    &__table {
        width: 100%;

        border-collapse: collapse;

        background: #fff;
    }

    &__row {
        cursor: pointer;
        outline: none;
    }

    &_state {
        &_active {
            //
        }
    }

    &__cell {
        padding: 11px 15px 12px 15px;

        transition: background .3s ease;

        border-top: 1px solid #e1e1e1;
        border-left: 1px solid #f0f0f0;

        &:first-child {
            border-left: none;
        }

        .b-table__row:hover &,
        .b-table__row_state_active & {
            background: #ddecf5;
        }

        .b-table__head & {
            font-size: 0;
            line-height: 0;

            padding-top: 3px;
            padding-bottom: 3px;

            cursor: auto;
            text-align: center;

            border: none;
            // border-bottom: 1px solid #e1e1e1;
            background: #b6d5e6 !important;
            // background: linear-gradient(to bottom,  #ebebeb 0%,#d9d9d9 100%);

            &:before {
                display: inline-block;

                width: 0;
                min-height: 26px;

                content: '';
                vertical-align: middle;
            }
        }

        .b-table__row:first-child & {
            border-top: none;
        }
    }

    &__text {
        font: normal 13px/1.3 'Arial';

        margin: 0;

        color: #000;

        .b-table__head & {
            line-height: 1;

            display: inline-block;

            vertical-align: middle;
        }

        &_align {
            &_center {
                text-align: center;
            }
        }

        &_color {
            &_red {
                color: #d00000;
            }
        }
    }
}
