.b-unary
{
  position: relative;

  display: block;

  box-sizing: border-box;
  width: 23px;
  height: 23px;

  cursor: pointer;
  transition: opacity .3s ease;

  border: none;
  border-radius: 50%;
  outline: none;
  background: #255a78;

  &:hover
  {
    opacity: .7;
  }
  &:active
  {
    transform: translate(1px,1px);
  }
  &__add
  {
    &:before
    {
      position: absolute;
      top: 10px;
      left: 5px;

      width: 13px;
      height: 3px;

      content: '';

      background: #fff;
    }
    &:after
    {
      position: absolute;
      top: 5px;
      left: 10px;

      width: 3px;
      height: 13px;

      content: '';

      background: #fff;
    }
  }
  &__del
  {
    &:before
    {
      position: absolute;
      top: 10px;
      left: 5px;

      width: 13px;
      height: 3px;

      content: '';

      background: #fff;
    }
  }
}
