.wrapper
{
  .ng-select
  {
    font: normal 13px/normal 'Arial';

    width: 100%;
    margin: 0;

    .ng-select-container
    {
      min-height: 30px;

      color: #000;
      border: 1px solid #7490a0;
      border-radius: 2px;
      outline: none;
      box-shadow: none;
    }

    .ng-arrow-wrapper
    {
      display: flex;

      box-sizing: border-box;
      height: 100%;
      padding: 0;

      border-left: 1px solid #b0c4d0;

      align-items: center;
      justify-content: center;

      & .ng-arrow
      {
        margin: 3px 0 0;

        border-color: rgba(#a5bcc9, .5) transparent transparent;
      }
    }
  }

  .ng-select.ng-select-single .ng-select-container
  {
    height: 30px;
  }

  .ng-select.ng-select-opened > .ng-select-container
  {
    border-color: #7490a0 #7490a0 #7490a0;
    background: #fff;;
  }

  .ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container
  {
    border-color: #7490a0;
    box-shadow: none;
  }

  .ng-select.ng-select-opened > .ng-select-container .ng-arrow
  {
    top: -2px;

    border-width: 0 5px 5px;
    border-color: transparent transparent rgba(#a5bcc9, .5);;
  }

  .ng-select.ng-select-opened > .ng-select-container .ng-arrow:hover
  {
    border-color: transparent transparent rgba(#a5bcc9, .5);
  }

  .ng-select .ng-arrow-wrapper:hover .ng-arrow
  {
    border-top-color: rgba(#a5bcc9, .5);
  }

  .ng-dropdown-panel
  {
    border: 1px solid #7490a0;
    box-shadow: none;
  }

  .ng-select .ng-select-container:hover
  {
    box-shadow: none;
  }

  .ng-dropdown-panel.ng-select-bottom .scroll-host
  {
    border-radius: 0 0 4px 4px;
  }

  .ng-dropdown-panel.ng-select-bottom
  {
    border-top-color: #7490a0;
  }

  .ng-dropdown-panel.ng-select-top
  {
    border-bottom-color: #7490a0;;
  }

  .ng-dropdown-panel.ng-select-top .scroll-host
  {
    border-radius: 4px 4px 0 0;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked
  {
    background-color: #ddecf5;
  }
  .ng-select.ng-select-disabled > .ng-select-container
  {
    background-color: #e7e6e6;
  }
}
