<div class="row mt-3">
    <h2 class="h2 col">Поиск по&nbsp;пользователям</h2>
</div>
<div class="row">
    <div class="col-sm-5">
        <div class="form-group row">
            <label class="col-sm-5 col-form-label text-right" for="lastName">Фамилия</label>
            <div class="col-sm-7">
                <input class="form-control" id="lastName" [(ngModel)]="filter.lname">
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="firstName">Имя</label>
            <div class="col-sm-10">
                <input class="form-control" id="firstName" [(ngModel)]="filter.fname">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="midName">Отчество</label>
            <div class="col-sm-9">
                <input class="form-control" id="midName" [(ngModel)]="filter.mname">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <div class="form-group row">
            <label class="col-5 col-form-label text-right" for="persNumber">№ личного дела</label>
            <div class="col-sm-7">
                <input class="form-control" id="persNumber" [(ngModel)]="filter.pnumber" mask="0*">
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group row">
            <label class="col-sm-7 col-form-label" for="bYear">Год рождения</label>
            <div class="col-sm-5">
                <input class="form-control" id="bYear" [(ngModel)]="filter.byear" mask="0000">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col"><a class="user-search__extra"><span>дополнительно</span></a></div>
</div>

<div class="user-search-result" *ngIf="(page$|async)?.pages">
    <div class="row mt-3 mb-2">
        <h3 class="col user-search-result__topic">Список пользователей:</h3>
    </div>
    <div class="row">
        <div class="col">
            <div class="b-table b-table_mod_border">
                <table class="b-table__table">
                    <thead class="b-table__head">
                    <tr class="b-table__row">
                        <td class="b-table__cell">
                            <p class="b-table__text">№ личного дела</p>
                        </td>
                        <td class="b-table__cell">
                            <p class="b-table__text">Фамилия</p>
                        </td>
                        <td class="b-table__cell">
                            <p class="b-table__text">Имя</p>
                        </td>
                        <td class="b-table__cell">
                            <p class="b-table__text">Отчество</p>
                        </td>
                        <td class="b-table__cell">
                            <p class="b-table__text">Год рождения</p>
                        </td>
                        <td class="b-table__cell">
                            <p class="b-table__text">Отдел хранения</p>
                        </td>
                    </tr>
                    </thead>
                </table>
                <div class="b-table__wrap b-table__wrap_row_8">
                    <table class="b-table__table">
                        <tbody class="b-table__body">
                        <tr class="b-table__row" *ngFor="let u of (page$|async)?.data"
                            [routerLink]="['/users/profiles', u.id]">
                            <td class="b-table__cell">
                                <p class="b-table__text b-table__text_align_center">{{u.personNumber}}</p>
                            </td>
                            <td class="b-table__cell">
                                <p class="b-table__text">{{u.lastName}}</p>
                            </td>
                            <td class="b-table__cell">
                                <p class="b-table__text">{{u.firstName}}</p>
                            </td>
                            <td class="b-table__cell">
                                <p class="b-table__text">{{u.middleName}}</p>
                            </td>
                            <td class="b-table__cell">
                                <p class="b-table__text b-table__text_align_center">{{u.birthYear}}</p>
                            </td>
                            <td class="b-table__cell">
                                <div class="b-table__text b-table__text_align_center">
                                    <ul class="user-search-result__department">
                                        <li *ngFor="let a of u.archives">{{a}}</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <aisrr-paginator [page]="page$|async" (next)="load($event)"></aisrr-paginator>
    </div>
</div>
