<div class="footer__body">
    <div class="footer__cell">
        <div class="footer-user">
            <p class="footer-user__name" *ngIf="user">
                {{user.lastName ? (user.lastName + ' ' + user.firstName + ' ' + user.middleName) : user.login}}
            </p>
        </div>
    </div>
    <div class="footer__cell">
        <div class="footer-date">
            <p class="footer-date__text">{{date$ | async | dateTime}}</p>
        </div>
    </div>
</div>
