.content {
    @extend .container;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex: 1 0 auto;

    & > ng-component {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
    }
}
