.content-grid {
    &__sidebar {
        @extend .col-sm-2;
        min-height: 1px;
    }

    &__content {
        @extend .col-sm-10;
        box-sizing: border-box;
        min-height: 1px;
    }
}
