<div class="signin">
  <div class="signin-form">
    <form class="signin-form__body" [formGroup]="group" (ngSubmit)="submit()">
      <div class="signin-form__row">
        <label class="signin-form__label" for="user">Имя пользователя:</label>
        <input class="signin-form__input signin-form__input_mod_user" type="text" id="user" formControlName="user">
      </div>
      <div class="signin-form__row">
        <label class="signin-form__label" for="pass">Пароль:</label>
        <input class="signin-form__input signin-form__input_mod_password" type="password" id="pass" formControlName="pass">
      </div>
      <button class="signin-form__submit" type="submit" [disabled]="group.invalid">Войти</button>
    </form>
  </div>
</div>
