<div class="header__wrap">
    <div class="header__body">
        <div class="header__cell">
            <div class="header-logo">
                <div class="header-logo__img"><img src="/assets/images/header/header-logo__img_1.png"></div>
            </div>
        </div>
        <div class="header__cell">
            <div class="header-topic">
                <h1 class="header-topic__text">
                    АИС &laquo;Читальный зал&raquo;
                    <span *ngIf="title$|async">&mdash; {{title$|async}}</span>
                </h1>
            </div>

            <div class="header-menu">
                <div class="header-menu__body">
                    <ng-container *ngFor="let b of buttons$|async">
                        <button *ngIf="!b.hidden && !b.menu" class="btn btn-secondary"
                                [ngClass]="b.clazz"
                                (click)="b.action()" [disabled]="b.disabled">
                            <i class="mr-1 fa fa-lg" [ngClass]="b.ico"></i> {{b.label}}
                        </button>
                        <div ngbDropdown *ngIf="b.menu && !b.hidden">
                            <button class="btn btn-secondary" id="newOrder" [ngClass]="b.clazz"
                                    [disabled]="b.disabled" ngbDropdownToggle>
                                <i class="mr-1 fa fa-lg" [ngClass]="b.ico"></i> {{b.label}}
                            </button>
                            <div ngbDropdownMenu aria-labelledby="newOrder" class="dropdown-menu">
                                <a class="dropdown-item" [routerLink]="m.link" [queryParams]="m.param"
                                      *ngFor="let m of b.menu">{{m.title}}</a>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>

        </div>
        <div class="header__cell">
            <div class="header-logo">
                <div class="header-logo__img"><img src="/assets/images/header/header-logo__img_2.png"></div>
            </div>
        </div>
    </div>
</div>

