<nav class="navbar navbar-expand-md navbar-dark navbar-rr mb-4 sticky-top shadow">
    <a routerLink="/main" class="navbar-brand">
        <img src="/assets/images/header/header-logo__img_1.png" width="30" height="30" class="d-inline-block align-top">
        Главное меню
    </a>
    <button class="navbar-toggler" type="button" aria-controls="navbarContent"
            [attr.aria-expanded]="!collapsed"
            aria-label="Toggle navigation" (click)="collapsed = !collapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/admin/holidays" class="nav-link" (click)="collapsed = true">Календарь</a>
            </li>
            <li class="nav-item" [class.active]="w$.location.pathname.startsWith('/admin/dicts')">
                <a [routerLink]="['/admin/dicts', dn.Country]" class="nav-link"
                   (click)="collapsed = true">Справочники</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/admin/users" class="nav-link" (click)="collapsed = true">Пользователи</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/admin/groups" class="nav-link" (click)="collapsed = true">Группы</a>
            </li>
            <ng-container *ngTemplateOutlet="meTempl;context:{user: user$ | async}"></ng-container>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>

<ng-template #meTempl let-user="user">
    <li *ngIf="user" class="nav-item ml-md-4" [hidden]="!collapsed" ngbDropdown>
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="adminMenu" role="button">
            {{user.lastName ? (user.lastName + ' ' + (user.firstName ? user.firstName[0] + '.' : ' ') + (user.middleName ? user.middleName[0] + '.' : '')) : user.login}}
        </a>
        <div ngbDropdownMenu aria-labelledby="adminMenu" class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" [routerLink]="['/admin/users', user.id]">Личный кабинет</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Выйти</a>
        </div>
    </li>
    <li class="nav-item" [hidden]="collapsed" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/admin/users', user.id]" (click)="collapsed = true">Личный кабинет</a>
    </li>
    <div class="dropdown-divider" [hidden]="collapsed"></div>
    <li class="nav-item">
        <a class="nav-link" href="/logout" [hidden]="collapsed">Выйти</a>
    </li>
</ng-template>
