<div class="row mt-3">
    <h2 class="col h2">Заказ</h2>
</div>
<div class="row">
    <div class="col-4">
        <div class="form-group row">
            <label class="col-7 col-form-label text-right">№ заказа</label>
            <div class="col-5">
                <span class="form-control disabled">{{order.orderNumber}}</span>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="form-group row">
            <label class="col-5 col-form-label text-right">№ личного дела</label>
            <div class="col-4">
                <span class="form-control disabled">{{order.personNumber}}</span>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="rr">
    <div class="col-4">
        <div class="form-group row align-items-center">
            <label class="col-7 col-form-label text-right">Читальный зал приема заказа</label>
            <div class="col-3">
                <span class="form-control disabled">{{order.readRoom}}</span>
            </div>
        </div>
    </div>
</div>
<ng-container *ngIf="expand">
    <div class="row">
        <div class="col-12">
            <div class="form-group row align-items-center">
                <label class="text-right order-abc">Пользователь</label>
                <div class="col-6">
                        <span class="form-control disabled">{{order.lastName}} {{order.firstName}} {{order.middleName}},
                            {{order.birthYear}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group row align-items-center">
                <label class="text-right order-abc">Отдел хранения</label>
                <div class="col-8">
                    <span class="form-control disabled">{{archive}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group row align-items-center">
                <label class="text-right order-abc">Тема исследования</label>
                <div class="col-8">
                    <span class="form-control disabled">{{topic}}</span>
                </div>
            </div>
        </div>
    </div>
</ng-container>
