<div class="row mt-3">
    <h2 class="col h2 h2_ot">
        <b *ngIf="type == ot.Fp">ФП</b>
        <span [ngClass]="{'text-capitalize': type != ot.Fp}"> з</span>аказ на&nbsp;выдачу архивных документов,
        копий фонда пользования, описей дел
    </h2>
</div>
<div class="row">
    <div class="col">
        <div class="train">
            <div class="train__body">
                <div class="train__item" *ngFor="let s of statuses">
                    <p class="train__text">{{getLabel(s)|async}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
