.user-table {
    margin: 0;

    &__text {
        margin: 0;
        color: #000;
        text-align: center;
    }

    &__table {
        overflow: hidden;

        width: 982px;

        border-collapse: collapse;

        border-radius: 4px;
    }

    &__thead {
        //
    }

    &__tbody {
        //
    }

    &__row {
        //
    }

    &__cell {
        position: relative;

        padding: 0;

        border-bottom: 1px solid #e0e0e0;
        border-left: 1px solid #e0e0e0;
        background: #fff;

        .user-theme & {
            height: 40px;

            &:nth-child(1) {
                width: 210px;
            }

            &:nth-child(2) {
                width: 215px;
            }

            &:nth-child(3) {
                width: 135px;
            }
        }

        .user-case & {
            &:nth-child(1) {
                width: 320px;
            }
        }

        & input,
        & select,
        & textarea,
        & .ng-select {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            border: none;
        }

        & .ng-select {
            &.ng-select-single .ng-select-container {
                border: none;
                height: 100%;
            }
        }

        & select {
            font-size: 14px;
        }

        & input,
        & textarea {
            font-size: 15px;
            line-height: 1;
        }

        &:first-child {
            width: 140px;

            border-left: none;
        }

        .user-table__row:last-child & {
            &:nth-child(3) {
                border-radius: 0 0 4px 0;
            }
        }

        .user-table__row:last-child & {
            border-bottom: none;
        }

        .user-table__head & {
            height: auto;
            padding: 5px 10px;

            border-bottom: 1px solid #e0e0e0 !important;
            background: #b6d5e6;


            &:nth-child(3) {
                border-radius: 0 3px 0 0 !important;
            }
        }

        &:last-child {
            width: 1%;
            padding: 4px 10px;

            border: none !important;
            background: none !important;
        }
    }
}
