.user-search-result {
    width: 100%;
    overflow-x: hidden;
    &__topic {
        font: normal 14px/1 'Arial';
        color: #255a78;
    }

    &__department {
        margin: -11px -15px -12px -15px;
        padding: 0;

        list-style: none;

        & li {
            padding: 5px 15px;

            border-top: 1px solid #f0f0f0;

            &:first-child {
                border: none;
            }
        }
    }

    & .b-table__head {
        & .b-table__cell {
            &:first-child {
                width: 110px;
            }

            &:nth-child(2) {
                width: 130px;
            }

            &:nth-child(3) {
                width: 130px;
            }

            &:nth-child(4) {
                width: 130px;
            }

            &:nth-child(5) {
                width: 90px;
            }
        }
    }

    & .b-table__body {
        & .b-table__cell {
            &:first-child {
                width: 109px;
            }

            &:nth-child(2) {
                width: 129px;
            }

            &:nth-child(3) {
                width: 129px;
            }

            &:nth-child(4) {
                width: 129px;
            }

            &:nth-child(5) {
                width: 89px;
            }
        }
    }
}
