.user-education
{
  margin: 26px 0 0;

  &__topic
  {
    font: normal 22px/1 'Arial';

    margin: 0 0 11px;

    letter-spacing: -.01em;

    color: #255a78;
  }
  &__body
  {
    margin: 0 0 0 32px;
  }
  &__row
  {
    display: table-row;
  }
  &__cell
  {
    display: table-cell;

    padding: 10px 0 0;

    vertical-align: middle;

    .user-education__row:first-child &
    {
      padding-top: 0;
    }
    &:nth-child(3)
    {
      padding-left: 45px;
    }
    &:nth-child(5)
    {
      padding-left: 45px;
    }
  }
}
