.user-case
{
  margin: 26px 0 0;

  &__topic
  {
    font: normal 22px/1 'Arial';

    margin: 0 0 11px;

    letter-spacing: -.01em;

    color: #255a78;
  }
  &__body
  {
    display: table;

    margin: 0 0 16px 32px;

    border-collapse: collapse;

    border: none;
  }
  &__row
  {
    display: table-row;
  }
  &__cell
  {
    position: relative;

    display: table-cell;

    padding: 10px 0 0;

    vertical-align: middle;

    border: none;

    .user-case__row:first-child &
    {
      padding-top: 0;
    }
    .user-case__row:last-child &
    {
      padding-top: 20px;
    }
    &:nth-child(3)
    {
      // padding-left: 45px;
    }
    &:nth-child(5)
    {
      // padding-left: 45px;
    }
  }
  &__cell-group
  {
    display: inline-block;

    margin: 0 0 0 30px;

    vertical-align: middle;

    &:first-child
    {
      margin: 0;
    }
  }
}
