.user-profile {
    margin: 26px 0 0;

    &__body {
        margin: 0 0 0 32px;
    }

    &__row {
        display: table-row;
    }

    &__cell {
        display: table-cell;

        padding: 10px 0 0;

        vertical-align: middle;

        .user-profile__row:first-child & {
            padding-top: 0;
        }

        &:nth-child(3) {
            padding-left: 45px;
        }

        &:nth-child(5) {
            padding-left: 45px;
        }
    }
}
