.footer
{
  min-width: 1280px;

  background: #d6dfe1;

  &__body
  {
    display: flex;

    box-sizing: border-box;
    width: 1280px;
    margin: 0 auto;
    padding: 0 14px;

    align-items: center;
    justify-content: space-between;
  }
  &__cell
  {
    //
  }
}
