.nav-dicts {
    @include media-breakpoint-up(lg) {
        border: 1px solid $primary;
        border-radius: $border-radius;
    }
    background-color: $light;

    .nav-item {
        &:hover {
            background-color: $primary;

            .nav-link {
                color: $light;
            }
        }


        &.active {
            background-color: $primary;

            .nav-link {
                color: $light;
            }
        }
    }
}

.nav-link {
    &:focus {
        outline: none;
    }
}
