.ng-select {
    &.focused {
        color: $input-focus-color;
        background-color: $white;
        border-color: $input-focus-border-color;
        outline: 0;
        box-shadow: $input-focus-box-shadow;

        input {
            color: $input-focus-color;
        }
    }

    &.ng-select-focused {
        &:not(.ng-select-opened) {
            > .ng-select-container {
                border-width: 0;
                box-shadow: none;
            }
        }
    }

    .ng-arrow-wrapper {
        top: -2px;
        width: 18px;
        padding-right: 0;
    }

    &.form-control {
        .ng-dropdown-panel {
            min-height: 0px;
            background-color: $white;
            border: 1px solid $input-focus-border-color;
            border-radius: 4px;
            left: 0;
            top: 105%;
            outline: 0;

            &-items {
                padding: .7em 0;

                .ng-option {
                    padding-left: 1em;
                    padding-right: 1em;

                    &-selected {
                        color: $primary;
                    }

                    &:hover {
                        background-color: $gray-100;
                    }
                }
            }
        }

        .ng-select-container {
            color: inherit;
            align-items: center;

            background-color: inherit;
            border-radius: 0;
            border: none;
            min-height: auto;

            .ng-value + .ng-value {
                margin-left: 6px;
            }

            .ng-clear-wrapper {
                width: 14px;
            }

            &:hover {
                box-shadow: none;
            }
        }

        &.ng-select-single {
            .ng-select-container {
                height: auto;
            }
        }

        .ng-select-container .ng-value-container {
            flex-wrap: nowrap;
            padding-top: 0;
            padding-left: 0;

            .ng-input {
                padding: 0;
                top: 0;
            }

            .ng-value {
                font-size: 1em;
                margin-bottom: 0;
                background-color: inherit;
                border-radius: 0;
                margin-right: 0;

                .ng-value-icon {
                    padding: 0;

                    &.left {
                        border-right: none;
                    }

                    &:hover {
                        background-color: inherit;
                    }
                }
            }
        }
    }
}

