
.navbar {
    &-rr {
        background: #16394c;
    }

    &-brand {
        &:focus {
            outline: none;
        }
    }
}

input, ng-select {
    &.form-control {
        &::placeholder {
            color: $gray-500;
            font-style: oblique;
        }

        &.current {
            z-index: 10001;
            position: relative;
        }
    }
}

.form-group {
    &.invalid {
        .form-control {
            border-color: $danger;
        }
    }

    &.valid {
        .form-control {
            border-color: $success;
        }
    }
}


.spinner-border {
    position: fixed;
    top: 50%;
    left: 50%;
}


.dropdown-menu {
    padding-left: .25rem;
    padding-right: .25rem;
}
