.user-panel {
    @extend .container;

    form {
        .form-control {
            &.ng-touched {
                &.ng-invalid {
                    @extend .is-invalid;
                }

                &.ng-valid {
                    @extend .is-valid;
                }
            }
        }
    }
}
