$navbar-light-active-color: #333;
$navbar-light-brand-color: #777;
$navbar-light-brand-hover-color: $navbar-light-brand-color;
$font-size-base: .875rem;
$font-family-base: Arial, sans-serif;

$primary: #255a78;
$secondary: #94afbe;
$success: #69FB13;
$info: #BB1BF4;
$warning: #FF9A13;
$danger: #FC1349;
$black: #000;

$body-bg: #e7edee;
$body-color: $black;
$card-bg: $body-bg;

$input-border-color: #7490a0;
$input-focus-border-color: #42515a;
$input-color: $black;
$input-focus-box-shadow: none;
$input-btn-padding-y: .25rem;
$input-btn-padding-x: .75rem;
$input-padding-x: .425rem;

$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;
$btn-focus-width: 0;

$pagination-focus-box-shadow: none;
$dropdown-item-padding-x: 1.25rem;

$h2-font-size: 22px;


