<div class="b-pagination" *ngIf="page && page.pages > 1">
    <div class="b-pagination__body">
        <button [disabled]="page.first" (click)="next.emit(1)" class="tostart-btn b-pagination__first"></button>
        <button [disabled]="page.first" (click)="next.emit(page.page - 1)" class="back-btn b-pagination__prev"></button>
        <span class="b-pagination__title">Страницы:</span>
        <button *ngFor="let p of pages()" class="page-btn b-pagination__item"
            [disabled]="!p.v"
            (click)="next.emit(p.v)"
            [class.b-pagination__item_state_active]="p.v == page.page">{{p.l}}</button>
        <span class="b-pagination__count">Записей: {{page.count}}</span>
        <button [disabled]="page.last" (click)="next.emit(page.page + 1)" class="forward-btn b-pagination__next"></button>
        <button [disabled]="page.last" (click)="next.emit(page.pages)" class="toend-btn b-pagination__last"></button>
    </div>
</div>
