<div class="main">
    <div class="main-menu">
        <ul class="main-menu__list">
            <ng-container *ngIf="canUsers$|async">
                <li class="main-menu__item main-menu__item_mod_user">
                    <a routerLink="/users"><span>Пользователи</span></a>
                </li>
                <li class="main-menu__item main-menu__item_mod_visitor">
                    <a routerLink="/visitors"><span>Посетители</span></a>
                </li>
            </ng-container>
            <li class="main-menu__item main-menu__item_mod_order">
                <a routerLink="/orders"><span>Заказы</span></a>
            </li>
            <li class="main-menu__item main-menu__item_mod_report">
                <a routerLink="/reports"><span>Отчеты</span></a>
            </li>
            <li class="main-menu__item main-menu__item_mod_administrator" *ngIf="admin$|async">
                <a routerLink="/admin"><span>Администратор</span></a>
            </li>
        </ul>
    </div>
</div>
