<aisrr-train [status]="order.status" [type]="order.type"></aisrr-train>
<div class="row mt-3">
    <h2 class="col h2">Сотрудник читального зала</h2>
</div>
<div class="row">
    <p class="col order-employee__name ml-4 mb-4">{{order.registrator}}</p>
</div>
<div class="row">
    <div class="col-4">
        <div class="form-group row">
            <label class="col-7 col-form-label text-right">Дата приема заказа</label>
            <div class="col-5">
                <span class="form-control disabled">{{order.regDate|date:'dd.MM.yyyy'}}</span>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group row">
            <label class="col-7 col-form-label text-right">Дата выдачи заказа</label>
            <div class="col-5 pl-1">
                <span class="form-control disabled">{{order.issueDate|date:'dd.MM.yyyy'}}</span>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group row">
            <label class="col-7 col-form-label text-nowrap pl-1">Контрольная дата возврата</label>
            <div class="col-5">
                <span class="form-control disabled">{{order.controlReturnDate|date:'dd.MM.yyyy'}}</span>
            </div>
        </div>
    </div>
</div>

<ng-container [ngSwitch]="(editMode$|async)">
    <ng-container *ngSwitchCase="true">
        <ng-container [ngSwitch]="order.status">
            <ng-container *ngSwitchCase="st.Exec">
                <ng-container *ngTemplateOutlet="oread"></ng-container>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-7 col-form-label text-right text-nowrap">Дата возврата (фактич.)</label>
                            <div class="col-5">
                                <span class="form-control disabled">{{order.returnDate|date:'dd.MM.yyyy'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-4 col-form-label text-right" for="cause">Причина</label>
                            <div class="col-8">
                                <input class="form-control" id="cause" [(ngModel)]="order.cause">
                            </div>
                        </div>
                    </div>
                </div>
                <aisrr-order [order]="order" [rr]="true"></aisrr-order>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <label class="col-form-label text-right order-abc" for="user">Пользователь<span
                                    class="text-danger">*</span></label>
                            <div class="col-6">
                                <ng-select class="form-control" labelForId="user"
                                           [typeahead]="usersInput$"
                                           [(ngModel)]="order.applicantId"
                                           (change)="userChanged($event)"
                                           bindLabel="label" bindValue="value"
                                           notFoundText=""
                                           typeToSearchText="Начните печатать"
                                           [items]="users$|async">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <label class="col-form-label text-right order-abc" for="archiveId">Отдел хранения<span
                                    class="text-danger">*</span></label>
                            <div class="col-8">
                                <ng-select class="form-control"
                                           labelForId="archiveId" [(ngModel)]="order.archiveId"
                                           bindLabel="label" bindValue="value" notFoundText=""
                                           (change)="archiveChanged($event)"
                                           [searchable]="false" [clearable]="false"
                                           [items]="order.applicantId ? (archivesOfUser$|async) : dicts[dn.Archive]"></ng-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <label class="col-form-label text-right order-abc" for="topic">Тема исследования<span
                                    class="text-danger">*</span></label>
                            <div class="col-8">
                                <ng-select class="form-control"
                                           labelForId="topic" [(ngModel)]="order.topicHeadingId"
                                           bindLabel="label" bindValue="value" notFoundText=""
                                           [searchable]="false" [clearable]="false"
                                           [items]="dicts[dn.ResearchTheme]"></ng-select>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
        <div class="row">
            <table class="table table-bordered table-striped table-files_order">
                <thead class="table-form">
                <tr>
                    <ng-container [ngSwitch]="order.status">
                        <ng-container *ngSwitchCase="st.Exec">
                            <td><p class="user-table__text">№ фонда</p></td>
                            <td><p class="user-table__text">№ описи</p></td>
                            <td><p class="user-table__text">№ ед. хранения / дела</p></td>
                            <td><p class="user-table__text">Заголовок единицы хранения</p></td>
                            <td><p class="user-table__text">Кол-во листов</p></td>
                            <td><p class="user-table__text">Дело подгото влено</p></td>
                            <td><p class="user-table__text">Причина отказа</p></td>
                            <td><p class="user-table__text">Выдано в ЧЗ</p></td>
                            <td><p class="user-table__text">Списано<span class="text-danger">*</span></p></td>
                            <td><p class="user-table__text">Возвращено в архиво хранилище</p></td>
                            <td class="actions"></td>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            <td><p class="user-table__text">№ фонда<span class="text-danger">*</span></p></td>
                            <td><p class="user-table__text">№ описи<span class="text-danger">*</span></p></td>
                            <td><p class="user-table__text">№ ед. хранения / дела<span class="text-danger">*</span></p>
                            </td>
                            <td><p class="user-table__text">Заголовок единицы хранения<span class="text-danger">*</span>
                            </p>
                            </td>
                            <td><p class="user-table__text">Кол-во листов</p></td>
                            <td><p class="user-table__text">Дело подгото влено</p></td>
                            <td><p class="user-table__text">Причина отказа</p></td>
                            <td><p class="user-table__text">Выдано в ЧЗ</p></td>
                            <td><p class="user-table__text">Списано</p></td>
                            <td><p class="user-table__text">Возвращено в архиво хранилище</p></td>
                            <td class="actions">
                                <div (click)="addDoc()" class="fa fa-2x fa-plus-circle"></div>
                            </td>
                        </ng-container>
                    </ng-container>
                </tr>
                </thead>
                <tbody class="table-form">
                <tr *ngFor="let d of order.docs; let i = index">
                    <ng-container [ngSwitch]="order.status">
                        <ng-container *ngSwitchCase="st.Exec">
                            <td><span>{{d.fundNumber}}</span></td>
                            <td><span>{{d.opisNumber}}</span></td>
                            <td><span>{{d.unitNumber}}</span></td>
                            <td><span>{{d.unitTitle}}</span></td>
                            <td><span>{{d.pages}}</span></td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" [checked]="d.prepared" disabled>
                                </div>
                            </td>
                            <td><span>{{getLabel(d.rejectReasonId, dn.RejectReason)|async}}</span></td>
                            <td class="date">
                                <span *ngIf="d.prepared">{{order.issueRrDate|date:'dd.MM.yyyy'}}</span>
                            </td>
                            <ng-container [ngSwitch]="!!d.rejectReasonId">
                                <td class="date" *ngSwitchCase="true"></td>
                                <td class="date" *ngSwitchDefault>
                                    <div class="input-group">
                                        <input class="form-control"
                                               #dp="angular-mydatepicker" id="spisanoDate{{i}}"
                                               [options]="dops"
                                               angular-mydatepicker
                                               [(ngModel)]="dates[i].spisanoDate"
                                               (ngModelChange)="dateChanged($event, d, 'spisanoDate', 'spisanoDate'+i)"
                                               [locale]="'ru'">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-primary" type="button"
                                                    (click)="dp.toggleCalendar()">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </ng-container>
                            <td class="date"><span *ngIf="d.prepared">{{d.returnDate|date:'dd.MM.yyyy'}}</span></td>
                            <td class="actions"></td>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            <td>
                                <input *ngIf="i == 0" class="form-control" [(ngModel)]="d.fundNumber"
                                       (change)="fundNumberChanged()">
                                <span *ngIf="i > 0">{{d.fundNumber}}</span>
                            </td>
                            <td><input class="form-control" [(ngModel)]="d.opisNumber"></td>
                            <td><input class="form-control" [(ngModel)]="d.unitNumber"></td>
                            <td><textarea class="form-control" [(ngModel)]="d.unitTitle"></textarea></td>
                            <td><input class="form-control" [(ngModel)]="d.pages" mask="0000"></td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" [checked]="d.prepared" disabled>
                                </div>
                            </td>
                            <td><span>{{getLabel(d.rejectReasonId, dn.RejectReason)|async}}</span></td>
                            <td class="date">
                                <span *ngIf="d.prepared">{{order.issueRrDate|date:'dd.MM.yyyy'}}</span>
                            </td>
                            <td class="date"><span *ngIf="d.prepared">{{d.spisanoDate|date:'dd.MM.yyyy'}}</span></td>
                            <td class="date"><span *ngIf="d.prepared">{{d.returnDate|date:'dd.MM.yyyy'}}</span></td>
                            <td class="actions">
                                <div (click)="delDoc(i)" class="fa fa-2x fa-minus-circle"></div>
                            </td>
                        </ng-container>
                    </ng-container>
                </tr>
                </tbody>
            </table>
        </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
        <ng-container *ngTemplateOutlet="oread"></ng-container>
        <div class="row">
            <table class="table table-bordered table-striped table-files_order">
                <thead class="table-form">
                <tr>
                    <td><p class="user-table__text">№ фонда</p></td>
                    <td><p class="user-table__text">№ описи</p></td>
                    <td><p class="user-table__text">№ ед. хранения / дела</p></td>
                    <td><p class="user-table__text">Заголовок единицы хранения</p></td>
                    <td><p class="user-table__text">Кол-во листов</p></td>
                    <td><p class="user-table__text">Дело подгото влено</p></td>
                    <td><p class="user-table__text">Причина отказа</p></td>
                    <td><p class="user-table__text">Выдано в ЧЗ</p></td>
                    <td><p class="user-table__text">Списано</p></td>
                    <td><p class="user-table__text">Возвращено в архиво хранилище</p></td>
                    <td class="actions">
                    </td>
                </tr>
                </thead>
                <tbody class="table-form">
                <tr *ngFor="let d of order.docs; let i = index">
                    <td><span>{{d.fundNumber}}</span></td>
                    <td><span>{{d.opisNumber}}</span></td>
                    <td><span>{{d.unitNumber}}</span></td>
                    <td><span>{{d.unitTitle}}</span></td>
                    <td><span>{{d.pages}}</span></td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" [checked]="d.prepared" disabled>
                        </div>
                    </td>
                    <td><span>{{getLabel(d.rejectReasonId, dn.RejectReason)|async}}</span></td>
                    <td class="date">
                        <span *ngIf="d.prepared">{{order.issueRrDate|date:'dd.MM.yyyy'}}</span>
                    </td>
                    <td class="date"><span *ngIf="d.prepared">{{d.spisanoDate|date:'dd.MM.yyyy'}}</span></td>
                    <td class="date"><span *ngIf="d.prepared">{{d.returnDate|date:'dd.MM.yyyy'}}</span></td>
                    <td class="actions"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </ng-container>
</ng-container>

<ng-template #rd let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Удаление заказа</h4>
        <button type="button" class="close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Вы действительно хотите удалить заказ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('no')">Отмена</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('yes')">Да</button>
    </div>
</ng-template>

<ng-template #oread>
    <div class="row">
        <div class="col-4">
            <div class="form-group row">
                <label class="col-7 col-form-label text-right text-nowrap">Дата возврата (фактич.)</label>
                <div class="col-5">
                    <span class="form-control disabled">{{order.returnDate|date:'dd.MM.yyyy'}}</span>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group row">
                <label class="col-4 col-form-label text-right">Причина</label>
                <div class="col-8">
                    <span class="form-control disabled">{{order.cause}}</span>
                </div>
            </div>
        </div>
    </div>
    <aisrr-order [order]="order" [expand]="true" [topic]="researchTheme" [rr]="true"
                 [archive]="getLabel(order.archiveId, dn.Archive)|async"></aisrr-order>
</ng-template>
