.header-menu {
    margin: 25px 0 0;

    &__body {
        display: flex;
        justify-content: center;
    }

    &__item {
        display: inline-block;

        margin: 0 5px;

        vertical-align: top;

        &_mod {
            &_print {
                // margin-left: 20px;
            }

            &_exit {
                margin-left: 38px;
            }
        }
    }
}
