.header
{
  min-width: 1280px;

  background: #16394c;

  &__wrap
  {
    box-sizing: border-box;
    width: 1280px;
    margin: 0 auto;
    padding: 14px 14px 9px;
  }
  &__body
  {
    display: flex;

    align-items: center;
    justify-content: space-between;
  }
}
