<ng-container [ngSwitch]="(editMode$|async)">
    <ng-container *ngSwitchCase="true">
        <div class="row mt-3">
            <h2 class="h2 col">Пользователь</h2>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group row">
                    <label class="col-5 col-form-label text-right" for="lastName">Фамилия<span
                            class="text-danger">*</span></label>
                    <div class="col-7">
                        <input class="form-control" id="lastName" [(ngModel)]="data.lastName">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group row">
                    <label class="col-5 col-form-label text-right" for="firstName">Имя<span
                            class="text-danger">*</span></label>
                    <div class="col-6">
                        <input class="form-control" id="firstName" [(ngModel)]="data.firstName">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group row">
                    <label class="col-5 col-form-label text-right" for="middleName">Отчество<span
                            class="text-danger">*</span></label>
                    <div class="col-6">
                        <input class="form-control" id="middleName" [(ngModel)]="data.middleName">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group row">
                    <label class="col-5 col-form-label text-right" for="changeFIO">Смена ФИО</label>
                    <div class="col-7">
                        <input class="form-control" id="changeFIO" [(ngModel)]="data.changeFIO">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group row">
                    <label class="col-5 col-form-label text-right" for="birthYear">Год рождения<span
                            class="text-danger">*</span></label>
                    <div class="col-3">
                        <input class="form-control" id="birthYear" [(ngModel)]="data.birthYear" mask="0000">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group row">
                    <label class="col-5 col-form-label text-right" for="citizenship">Гражданство<span
                            class="text-danger">*</span></label>
                    <div class="col-7">
                        <ng-select class="form-control"
                                   labelForId="citizenship" [(ngModel)]="data.countryId"
                                   bindLabel="label" bindValue="value" notFoundText=""
                                   [items]="dicts[dn.Country]"></ng-select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <h2 class="h2 col">Личное дело</h2>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="form-group row">
                    <label class="col-6 col-form-label text-right">Уникальный № дела</label>
                    <div class="col-6">
                        <span class="form-control disabled">{{data.personNumber}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="form-group row">
                    <label class="col-6 col-form-label text-right text-nowrap" for="firstRegDate">Дата первой
                        регистрации<span
                                class="text-danger">*</span></label>
                    <div class="col-5">
                        <div class="input-group">
                            <input class="form-control" id="firstRegDate"
                                   #dp="angular-mydatepicker"
                                   [options]="dops"
                                   angular-mydatepicker
                                   [(ngModel)]="dates.firstRegDate"
                                   (ngModelChange)="dateChanged($event, data, 'firstRegDate', 'firstRegDate')"
                                   [locale]="'ru'">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="button"
                                        (click)="toggleCalendar(0, dps)">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="form-group row">
                    <label class="col-6 col-form-label text-right" for="issuePassDate">Дата выдачи пропуска</label>
                    <div class="col-5">
                        <div class="input-group">
                            <input class="form-control" id="issuePassDate"
                                   #dp="angular-mydatepicker"
                                   [options]="dops"
                                   angular-mydatepicker
                                   [(ngModel)]="dates.issuePassDate"
                                   (ngModelChange)="dateChanged($event, data, 'issuePassDate', 'issuePassDate')"
                                   [locale]="'ru'">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="button"
                                        (click)="toggleCalendar(1, dps)">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-5">
                <div class="form-group row">
                    <label class="col-6 col-form-label text-right" for="ban">Запрет</label>
                    <div class="col-4">
                        <div class="form-check">
                            <input class="form-check-input" id="ban" type="checkbox" [(ngModel)]="data.ban">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="form-group row">
                    <label class="col-6 col-form-label text-right" for="banCause">Причина</label>
                    <div class="col-6">
                        <input class="form-control" id="banCause" [(ngModel)]="data.banCause">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table table-bordered table-striped">
                <thead class="table-form">
                <tr>
                    <td>
                        <p class="user-table__text">Название отдела<span
                                class="text-danger">*</span></p>
                    </td>
                    <td>
                        <p class="user-table__text">№ личного дела</p>
                    </td>
                    <td>
                        <p class="user-table__text">Дата разрешения</p>
                    </td>
                    <td class="actions">
                        <div (click)="addDep()" class="fa fa-2x fa-plus-circle"></div>
                    </td>
                </tr>
                </thead>
                <tbody class="table-form">
                <tr *ngFor="let d of data.regs; let i = index" (click)="setCurrentDep(i)">
                    <td class="archive-name">
                        <ng-select class="form-control"
                                   [(ngModel)]="d.archiveId"
                                   bindLabel="label" bindValue="value" notFoundText=""
                                   (change)="archiveChanged(d)"
                                   [searchable]="false"
                                   [clearable]="false"
                                   [items]="dicts[dn.Archive]">
                        </ng-select>
                    </td>
                    <td class="text-center">
                        <span>{{d.personNumber}}</span>
                    </td>
                    <td class="text-center">
                        <span>{{d.approveDate|date:'dd.MM.yyyy'}}</span>
                    </td>
                    <td class="actions">
                        <div (click)="removeDep(i)" class="fa fa-2x fa-minus-circle"></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <ng-container *ngIf="data.regs[currentDep]">
            <div class="row">
                <h3 class="h3 col">Тема исследования (№ личного дела {{data.regs[currentDep].personNumber}}):</h3>
            </div>
            <div class="row">
                <table class="table table-bordered table-striped">
                    <thead class="table-form">
                    <tr>
                        <td>
                            <p class="user-table__text">Рубрикатор тем<span
                                    class="text-danger">*</span></p>
                        </td>
                        <td>
                            <p class="user-table__text">Название темы<span
                                    class="text-danger">*</span></p>
                        </td>
                        <td>
                            <p class="user-table__text">Хронологические рамки</p>
                        </td>
                        <td>
                            <p class="user-table__text">Цель исследования</p>
                        </td>
                        <td>
                            <p class="user-table__text">Дата начальная<span
                                    class="text-danger">*</span></p>
                        </td>
                        <td>
                            <p class="user-table__text">Дата конечная<span
                                    class="text-danger">*</span></p>
                        </td>
                        <td class="actions">
                            <div (click)="addTopic()" class="fa fa-2x fa-plus-circle"></div>
                        </td>
                    </tr>
                    </thead>
                    <tbody class="table-form">
                    <tr *ngFor="let t of data.regs[currentDep].topics; let i = index">
                        <td class="theme-topic">
                            <ng-select class="form-control"
                                       [(ngModel)]="t.topicId"
                                       bindLabel="label" bindValue="value" notFoundText=""
                                       [searchable]="false"
                                       [clearable]="false"
                                       [items]="dicts[dn.TopicHeading]">
                            </ng-select>
                        <td><textarea class="form-control" [(ngModel)]="t.themeName"></textarea></td>
                        <td class="chronos"><textarea class="form-control" [(ngModel)]="t.period"></textarea></td>
                        <td><textarea class="form-control" [(ngModel)]="t.target"></textarea></td>
                        <td class="date">
                            <div class="input-group">
                                <input class="form-control"
                                       #dp="angular-mydatepicker" id="startDate{{i}}"
                                       [options]="dops"
                                       angular-mydatepicker
                                       [(ngModel)]="dates.topics[i].startDate"
                                       (ngModelChange)="dateChanged($event, t, 'startDate', 'startDate'+i)"
                                       [locale]="'ru'">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" type="button"
                                            (click)="toggleCalendar(2 + 2 * i, dps)">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td class="date">
                            <div class="input-group">
                                <input class="form-control" id="endDate{{i}}"
                                       #dp="angular-mydatepicker"
                                       [options]="dops"
                                       angular-mydatepicker
                                       [(ngModel)]="dates.topics[i].endDate"
                                       (ngModelChange)="dateChanged($event, t, 'endDate', 'endDate'+i)"
                                       [locale]="'ru'">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" type="button"
                                            (click)="toggleCalendar(3 + 2 * i, dps)">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td class="actions">
                            <div (click)="removeTopic(i)" class="fa fa-2x fa-minus-circle"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </ng-container>

        <div class="row mt-3">
            <h2 class="h2 col">Место работы</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <label class="col-2 col-form-label text-right" for="organization">Организация</label>
                    <div class="col-10">
                        <input class="form-control" id="organization" [(ngModel)]="data.organization">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group row">
                    <label class="col-4 col-form-label text-right" for="position">Должность</label>
                    <div class="col-8">
                        <input class="form-control" id="position" [(ngModel)]="data.position">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <h2 class="h2 col">Образование</h2>
        </div>
        <div class="row">
            <div class="col-7">
                <div class="form-group row">
                    <label class="col-2 col-form-label text-right" for="education">Образование</label>
                    <div class="ml-3 col-9">
                        <ng-select class="form-control"
                                   labelForId="education" [(ngModel)]="data.educationId"
                                   bindLabel="label" bindValue="value" notFoundText=""
                                   [items]="dicts[dn.Education]"></ng-select>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="form-group row">
                    <label class="col-6 col-form-label text-right" for="scienceRank">Научное звание</label>
                    <div class="col-6">
                        <ng-select class="form-control"
                                   labelForId="scienceRank" [(ngModel)]="data.scienceRankId"
                                   bindLabel="label" bindValue="value" notFoundText=""
                                   [items]="dicts[dn.ScienceRank]"></ng-select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <h2 class="h2 col">Дополнительная информация</h2>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-right" for="remark">Примечание</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="remark" [(ngModel)]="data.remark"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-right" for="oldNumbers">Старые номера личного
                        дела</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="oldNumbers" [(ngModel)]="data.oldNumbers"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <label class="col-2 col-form-label text-right" for="position">Электронная почта</label>
                    <div class="col-4">
                        <input class="form-control" id="position" [(ngModel)]="data.email">
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngSwitchDefault>
        <div class="row mt-3">
            <h2 class="h2 col">Пользователь</h2>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group row">
                    <label class="col-5 col-form-label text-right">Фамилия</label>
                    <div class="col-7">
                        <span class="form-control disabled">{{data.lastName}}</span>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group row">
                    <label class="col-5 col-form-label text-right">Имя</label>
                    <div class="col-6">
                        <span class="form-control disabled">{{data.firstName}}</span>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group row">
                    <label class="col-5 col-form-label text-right">Отчество</label>
                    <div class="col-6">
                        <span class="form-control disabled">{{data.middleName}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group row">
                    <label class="col-5 col-form-label text-right">Смена ФИО</label>
                    <div class="col-7">
                        <span class="form-control disabled">{{data.changeFIO}}</span>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group row">
                    <label class="col-5 col-form-label text-right">Год рождения</label>
                    <div class="col-3">
                        <span class="form-control disabled">{{data.birthYear}}</span>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group row">
                    <label class="col-5 col-form-label text-right">Гражданство</label>
                    <div class="col-7">
                        <span class="form-control disabled">{{getLabel(data.countryId, dn.Country)|async}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <h2 class="h2 col">Личное дело</h2>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="form-group row">
                    <label class="col-6 col-form-label text-right">Уникальный № дела</label>
                    <div class="col-6">
                        <span class="form-control disabled">{{data.personNumber}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="form-group row">
                    <label class="col-6 col-form-label text-right">Дата первой регистрации</label>
                    <div class="col-4">
                        <span class="form-control disabled">{{data.firstRegDate|date:'dd.MM.yyyy'}}</span>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="form-group row">
                    <label class="col-6 col-form-label text-right">Дата выдачи пропуска</label>
                    <div class="col-4">
                        <span class="form-control disabled">{{data.issuePassDate|date:'dd.MM.yyyy'}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-5">
                <div class="form-group row">
                    <label class="col-6 col-form-label text-right">Запрет</label>
                    <div class="col-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" [checked]="data.ban" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="form-group row">
                    <label class="col-6 col-form-label text-right">Причина</label>
                    <div class="col-6">
                        <span class="form-control disabled">{{data.banCause}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <table class="table table-bordered table-striped">
                <thead class="table-form">
                <tr>
                    <td>
                        <p class="user-table__text">Название отдела</p>
                    </td>
                    <td>
                        <p class="user-table__text">№ личного дела</p>
                    </td>
                    <td>
                        <p class="user-table__text">Дата разрешения</p>
                    </td>
                    <td class="actions"></td>
                </tr>
                </thead>
                <tbody class="table-form">
                <tr *ngFor="let d of data.regs; let i = index" (click)="setCurrentDep(i)">
                    <td>
                        <span>{{getLabel(d.archiveId, dn.Archive)|async}}</span>
                    </td>
                    <td class="text-center">
                        <span>{{d.personNumber}}</span>
                    </td>
                    <td class="text-center">
                        <span>{{d.approveDate|date:'dd.MM.yyyy'}}</span>
                    </td>
                    <td class="actions"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <ng-container *ngIf="data.regs[currentDep] && data.regs[currentDep].topics">
            <div class="row">
                <h3 class="h3 col">Тема исследования (№ личного дела {{data.regs[currentDep].personNumber}}):</h3>
            </div>
            <div class="row">
                <table class="table table-bordered table-striped">
                    <thead class="table-form">
                    <tr>
                        <td>
                            <p class="user-table__text">Рубрикатор тем</p>
                        </td>
                        <td>
                            <p class="user-table__text">Название темы</p>
                        </td>
                        <td>
                            <p class="user-table__text">Хронологические рамки</p>
                        </td>
                        <td>
                            <p class="user-table__text">Цель исследования</p>
                        </td>
                        <td>
                            <p class="user-table__text">Дата начальная</p>
                        </td>
                        <td>
                            <p class="user-table__text">Дата конечная</p>
                        </td>
                        <td class="actions"></td>
                    </tr>
                    </thead>
                    <tbody class="table-form">
                    <tr *ngFor="let t of data.regs[currentDep].topics; let i = index">
                        <td><span>{{getLabel(t.topicId, dn.TopicHeading)|async}}</span></td>
                        <td><span>{{t.themeName}}</span></td>
                        <td class="text-center"><span>{{t.period}}</span></td>
                        <td class="text-center"><span>{{t.target}}</span></td>
                        <td class="text-center"><span>{{t.startDate|date:'dd.MM.yyyy'}}</span></td>
                        <td class="text-center"><span>{{t.endDate|date:'dd.MM.yyyy'}}</span></td>
                        <td class="actions"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </ng-container>

        <div class="row mt-3">
            <h2 class="h2 col">Место работы</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <label class="col-2 col-form-label text-right">Организация</label>
                    <div class="col-10">
                        <span class="form-control disabled">{{data.organization}}</span>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group row">
                    <label class="col-4 col-form-label text-right">Должность</label>
                    <div class="col-8 text-nowrap">
                        <span class="form-control disabled">{{data.position}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <h2 class="h2 col">Образование</h2>
        </div>
        <div class="row">
            <div class="col-7">
                <div class="form-group row">
                    <label class="col-2 col-form-label text-right">Образование</label>
                    <div class="ml-3 col-9">
                        <span class="form-control disabled">{{getLabel(data.educationId, dn.Education)|async}}</span>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="form-group row">
                    <label class="col-6 col-form-label text-right">Научное звание</label>
                    <div class="col-6">
                        <span class="form-control disabled">{{getLabel(data.scienceRankId, dn.ScienceRank)|async}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <h2 class="h2 col">Дополнительная информация</h2>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-right">Примечание</label>
                    <div class="col-sm-10">
                        <span class="form-control disabled form-textarea" [innerHTML]="textArea(data.remark)"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-right">Старые номера личного дела</label>
                    <div class="col-sm-10">
                        <span class="form-control disabled form-textarea"
                              [innerHTML]="textArea(data.oldNumbers)"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <label class="col-2 col-form-label text-right">Электронная почта</label>
                    <div class="col-4">
                        <span class="form-control disabled">{{data.email}}</span>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>

