<div class="row mt-3">
    <h2 class="h2 col">Посещения исследователя</h2>
</div>
<table class="table table-bordered table-striped">
    <thead class="table-form">
    <tr>
        <td><p class="user-table__text">Дата</p></td>
        <td><p class="user-table__text">Читальный зал</p></td>
        <td><p class="user-table__text">Отдел хранения</p></td>
    </tr>
    </thead>
    <tbody class="table-form" *ngIf="(page$|async)?.pages">
    <tr *ngFor="let v of (page$|async)?.data">
        <td class="text-center"><span>{{v.date|date:'dd.MM.yyyy'}}</span></td>
        <td class="text-center"><span>{{v.room}}</span></td>
        <td>
            <ul class="user-search-result__department">
                <li *ngFor="let a of v.archives">{{a}}</li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

<div class="row">
    <div class="col text-center">
        <aisrr-paginator [page]="page$|async" (next)="load($event)"></aisrr-paginator>
    </div>
</div>

