<div class="row mt-3">
    <h2 class="h2 col">Заказы пользователя</h2>
</div>
<table class="table table-bordered table-striped">
    <thead class="table-form">
    <tr>
        <td><p class="user-table__text">№ заказа</p></td>
        <td><p class="user-table__text">Дата приема заказа</p></td>
        <td><p class="user-table__text">Читальный зал</p></td>
        <td><p class="user-table__text">Отдел хранения</p></td>
        <td><p class="user-table__text">Статус заказа</p></td>
    </tr>
    </thead>
    <tbody class="table-form" *ngIf="(page$|async)?.pages">
    <tr *ngFor="let v of (page$|async)?.data">
        <td class="text-center"><span>{{v.nymber}}</span></td>
        <td class="text-center"><span>{{v.regDate|date:'dd.MM.yyyy'}}</span></td>
        <td class="text-center"><span>{{v.room}}</span></td>
        <td><span>{{v.archive}}</span></td>
        <td class="text-center"><span>{{v.state}}</span></td>
    </tr>
    </tbody>
</table>

<div class="row">
    <div class="col text-center">
        <aisrr-paginator [page]="page$|async" (next)="load($event)"></aisrr-paginator>
    </div>
</div>

