<div class="user-panel">
    <div class="row">
        <div class="col">
            <h2 class="h2">Пользователь &laquo;{{user.login}}&raquo;</h2>
        </div>
    </div>
    <form [formGroup]="userFG" (ngSubmit)="save()">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="lastName">Фамилия</label>
            <div class="col-sm-10">
                <input formControlName="lastName" id="lastName" class="form-control" autocomplete="false">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="firstName">Имя</label>
            <div class="col-sm-10">
                <input formControlName="firstName" id="firstName" class="form-control" autocomplete="false">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="middleName">Отчество</label>
            <div class="col-sm-10">
                <input formControlName="middleName" id="middleName" class="form-control" autocomplete="false">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="groups">Группы</label>
            <div class="col-sm-10">
                <ng-select class="form-control"
                           formControlName="groups"
                           [class.focused]="groupsFocused"
                           [items]="dicts[dn.AccessGroup]"
                           [bindValue]="'value'"
                           [labelForId]="'groups'"
                           (change)="groupChanged()"
                           notFoundText=""
                           (focus)="groupsFocused = true"
                           (blur)="groupsFocused = false"
                           [multiple]="true">
                </ng-select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="archive">Отдел хранения</label>
            <div class="col-sm-10">
                <ng-select class="form-control" [ngClass]="{'ng-touched': groupTouched}"
                           formControlName="archiveId"
                           [searchable]="false"
                           [class.focused]="archiveFocused"
                           [items]="dicts[dn.Archive]"
                           [bindValue]="'value'"
                           [labelForId]="'archive'"
                           (change)="arReq(userFG)"
                           notFoundText=""
                           (focus)="archiveFocused = true"
                           (blur)="archiveFocused = false">
                </ng-select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="storage">Архивохранилище</label>
            <div class="col-sm-10">
                <ng-select class="form-control" [ngClass]="{'ng-touched': groupTouched}"
                           formControlName="storageId"
                           [class.focused]="storageFocused"
                           [items]="dicts[dn.Storage]"
                           [bindValue]="'value'"
                           [labelForId]="'storage'"
                           (change)="stReq(userFG)"
                           notFoundText=""
                           (focus)="storageFocused = true"
                           (blur)="storageFocused = false">
                </ng-select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 offset-sm-10 text-right">
                <button type="submit" class="btn btn-outline-primary" [disabled]="userFG.invalid">Сохранить <i class="ml-1 fa fa-save"></i></button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col">
            <h2 class="h2">Смена пароля</h2>
        </div>
    </div>
    <form [formGroup]="passFG" (ngSubmit)="changePassword()">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="form-group col">
                        <label for="password">Пароль</label>
                        <input type="password"
                               formControlName="password"
                               autocomplete="new-password" id="password" class="form-control">
                    </div>
                    <div class="form-group col">
                        <label for="password2">Пароль, ещё раз</label>
                        <input type="password"
                               formControlName="password2"
                               autocomplete="new-password" id="password2" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right">

                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <button type="submit" class="btn btn-outline-primary" [disabled]="passFG.invalid">
                    Сохранить <i class="ml-1 fa fa-save"></i>
                </button>
            </div>
        </div>
    </form>
</div>
