<ng-container *ngFor="let r of reports; let i = index">
    <div class="row mt-3">
        <h2 class="h2 col">{{r.title}}</h2>
    </div>
    <div class="row">
        <div class="col-5">
            <div class="form-group row">
                <label class="col-6 col-form-label text-right">Период с</label>
                <div class="col-4">
                    <div class="input-group">
                        <input class="form-control" [id]="'start'+i"
                               #ds="angular-mydatepicker"
                               [options]="dops"
                               angular-mydatepicker
                               [(ngModel)]="r.start"
                               (ngModelChange)="dateChanged($event, r, 'startDate', 'start' + i)"
                               [locale]="'ru'">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="button" (click)="ds.toggleCalendar()">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group row">
                <label class="col-1 col-form-label text-right">по</label>
                <div class="col-4">
                    <div class="input-group w-80">
                        <input class="form-control" [id]="'end'+i"
                               #dt="angular-mydatepicker"
                               [options]="dops"
                               angular-mydatepicker
                               [(ngModel)]="r.end"
                               (ngModelChange)="dateChanged($event, r, 'endDate', 'end' + i)"
                               [locale]="'ru'">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="button"
                                    (click)="dt.toggleCalendar()">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2 offset-7">
            <button class="btn btn-outline-primary" type="button" (click)="r.create(r)" [disabled]="r.disabled(r)">
                Сформировать
            </button>
        </div>
    </div>
</ng-container>
