<div class="sidebar">
    <div class="sidebar-menu">
        <label class="sidebar-menu__label">Выбор раздела</label>
        <ul class="nav flex-lg-column sidebar-menu__nav">
            <li *ngFor="let s of sections" class="nav-item">
                <a [routerLink]="s.url ? [id, s.url] : [id]" *ngIf="id && !(s.disabled|async)" class="nav-link"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact: true}">{{s.label}}</a>
                <span *ngIf="!id || (s.disabled|async)" class="nav-span">{{s.label}}</span>
            </li>
        </ul>
    </div>
</div>
