<ng-container [ngSwitch]="(url$|async)?.startsWith('/admin')">
    <router-outlet *ngSwitchCase="true"></router-outlet>
    <div class="wrapper" *ngSwitchCase="false">
        <header class="header">
            <aisrr-header></aisrr-header>
        </header>
        <main class="content">
            <router-outlet></router-outlet>
        </main>
        <footer class="footer">
            <aisrr-footer [user]="user$|async"></aisrr-footer>
        </footer>
    </div>
</ng-container>
