.visitor-search
{
  margin: 26px 167px 0;

  &__topic
  {
    font: normal 22px/1 'Arial';

    margin: 0 0 22px;

    letter-spacing: -.01em;

    color: #255a78;
  }
  &__body
  {
    //
  }
  &__row
  {
    font-size: 0;
    line-height: 0;

    margin: 0 0 20px;
  }
  &__cell
  {
    display: inline-block;

    margin: 0 20px 0 0;

    vertical-align: top;
  }
}
