.visitor-researcher
{
  margin: 26px 0 0;

  &__topic
  {
    font: normal 22px/1 'Arial';

    margin: 0 0 7px;

    letter-spacing: -.01em;

    color: #255a78;
  }
  &__text
  {
    font: normal 15px/1.3 'Arial';

    margin: 0;

    color: #000;

    &_align
    {
      &_center
      {
        text-align: center;
      }
    }
  }
  &__table
  {
    overflow: hidden;

    width: 950px;

    border-collapse: collapse;

    border-radius: 4px;
  }
  &__thead
  {
    //
  }
  &__tbody
  {
    //
  }
  &__row
  {
    //
  }
  &__cell
  {
    padding: 4px 10px;

    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fff;

    &:first-child
    {
      width: 140px;

      border-left: none;
    }
    .visitor-researcher__row:last-child &
    {
      &:nth-child(3)
      {
        border-radius: 0 0 4px 0;
      }
    }
    .visitor-researcher__row:last-child &
    {
      border-bottom: none;
    }
    .visitor-researcher__head &
    {
      border-bottom: 1px solid #e0e0e0!important;
      background: #b6d5e6;

      &:nth-child(3)
      {
        border-radius: 0 3px 0 0!important;
      }
    }
    &:last-child
    {
      width: 1%;

      border: none!important;
      background: none!important;
    }
  }
}
