.visitor-profile
{
  margin: 26px 167px 0;

  &__topic
  {
    font: normal 22px/1 'Arial';

    margin: 0 0 7px;

    letter-spacing: -.01em;

    color: #255a78;
  }
  &__body
  {
    margin: 21px 0 0 6px;
  }
  &__row
  {
    margin: 0 0 20px;
  }
  &__cell
  {
    display: table-cell;

    padding: 0 20px 0 0;
  }
}
